### import

In [1]:
%load_ext autoreload

In [2]:
%aimport utils.search_address

In [3]:
import pandas as pd 
import numpy as np
import math
import re

from icecream import ic
from tqdm.notebook import tqdm 

from utils.custom_utils import load_var, save_var
from utils.webscraping import ArticleScraper
from utils.search_address import CheckAddressLevels
import utils.search_address as sa

from importlib import reload

df_addr = pd.read_parquet('./address/df_addr.parquet.gzip')
df_text = pd.read_parquet('./dataframe/flasher_hk_20130101_20220307.gzip')

In [4]:
%autoreload 2

### todo: inspection

In [5]:
text = df_text.iloc[16]['content']
text = sa.clean_text(text)

In [5]:
index = 20
text_iter = iter(zip(df_text.index[index:], df_text.loc[index:, 'content']))

In [31]:
index, text = next(text_iter)
text = sa.clean_text(text)

self = CheckAddressLevels(df_address=df_addr, text=text)
self.process()

df_brief = self.df_brief.copy()
print(df_brief)

text_mark = text
for item in df_brief['found_name'].values:
    text_mark = sa.re_sub(item, text_mark)

print(f"\nindex: {index}\n")
print(text_mark)

  original_name found_name level count            upper
0            내리         내리     4     1  충청남도,규암면,충남,부여군

index: 41

‘오케이 광자매’ 홍은희-전혜빈-고원희가 의혹과 의심을 증폭시킨 아버지의 트렁크 앞에 선, ‘폭풍전야’ 대치 쓰리샷이 공개됐다. KBS 2TV 주말드라마 ‘오케이 광자매’는 부모의 이혼 소송 중 벌어진 엄마의 피살 사건, 가족 모두가 살인 용의자로 지목되며 시작하는 ‘미스터리 스릴러 멜로 코믹 홈드라마’다. 엄마 오맹자 살인사건의 범인을 추리해나가는 미스터리 스릴러부터 이광남(홍은희)-이광식(전혜빈)-이광태(고원희) 등 ‘광자매’의 멜로, 웃음과 해학, 풍자가 가득한 코믹에 이르기까지 다양한 내용들이 어우러지며 시청자들을 사로잡고 있다.지난 10회에서는 ‘광자매’ 이모 오봉자(이보희)가 오맹자 살인사건 범인으로 체포되는, ‘대반전 엔딩’이 담겨 안방극장에 충격을 안겼다. CCTV 속 우비 입은 의문의 인물이 여자라고 했던 여고생 목격자가 오봉자를 지목했던 것. “난 아니야. 정말 아니야”라며 억울함을 토로하는 오봉자와 복잡다단한 심정 속에 오봉자를 바라보는 이철수(윤주상), 이광식, 오탱자(김혜선)의 표정이 각각 그려지면서 오봉자가 진범일지 이목을 집중시켰다.이와 관련 홍은희-전혜빈-고원희가 각종 의구심이 담겨있는 아버지의 트렁크 앞에 서 있는 모습으로 긴장감을 고조시키고 있다. 극중 이광남-이광식-이광태가 아버지 이철수(윤주상)의 트렁크를 앞에 두고 의견을 모으는 장면. 불안한 눈빛을 드리운 이광남, 궁금증을 한껏 나타내는 표정의 이광식, 결심을 굳힌 듯 결연함을 드러낸 이광태 등 ‘광자매’는 각기 다른 반응을 내비치고 있다. 이내 망치를 들고 와 트렁크를 향해 🔺내리🔻꽂는 이광태의 모습이 펼쳐지면서 꼭꼭 닫혀있던 이철수의 트렁크가 과연 열리게 될지, 트렁크 안에 고이 담긴 물건은 무엇일지 귀추가 주목되고 있다. 홍은희와 전혜빈, 고원희의 ‘폭풍전야 트렁크 앞 대치’ 장면은 지난 3월에 촬영됐다. 함께 모여 대본을 읽어내려가던 세 사람은 대사 행간에 담긴 의미까지 세심하게 분석하며 심혈을 기울여 현장의 열기를 끌어올렸던 상태. 세 사람은 트렁크 앞에 앉은 채로 여러 가지 제스처를 취해보면서 더욱 실감나는 장면을 표현하기 위해 머리를 맞댔다. 본격적인 촬영이 시작되자 홍은희와 전혜빈, 고원희는 흔들림 없는 집중력으로 조마조마한 감정을 고스란히 담아내면서 스태프들까지 숨죽인 채 지켜보게 만들었다.제작진은 “홍은희-전혜빈-고원희는 작은 디테일까지 놓치지 않고 ‘대사의 맛’, ‘장면의 결’을 제대로 살리기 위해 최선을 다하고 있다. ‘광자매’ 세 사람의 착착 맞는 연기 호흡으로 인해 몰입도 또한 매우 높다”며 “그동안 많은 의혹과 궁금증을 일으켰던 판도라의 상자, 아버지의 트렁크가 드디어 오픈될지 지켜봐 달라”고 전했다.한편 ‘오케이 광자매’ 11회는 오는 24일(토) 오후 7시 55분에 방송된다.김나경 한경닷컴 연예·이슈팀 기자기사제보 및 보도자료 hub@hankyung.com

- 1
    - '서울특별'
- 3, 6
    - 행동
- 9
    - 심리
- 11
    - 경북 포항
    - 그냥 '포항'이 없다. 포항 '--구'
- 20
    - error
- 26
    - 천안
    - '천안'이 없구나?
- 30
    - 서울 2, 인천 1
    - 그래서 '서울'로 결과를 냄
    - 문맥상 '인천지법'이니, '인천'으로 해야할듯.
- 31
    - 인천, 연수구, 옥련동 모두 나옴.
    - 결과로서 '옥련동' 잘 됨.
    - 나중에 '인천 연수구 옥련동'으로 결과가 나오도록 만들어야 함.
- 33
    - 강동구도 있는데, 관악구로 결과를 낸 이유는?
-

일단 여기까지.  

이제 상위 범위 주소를 확인하자.

### todo: check upper level

In [41]:
self.check_upper_level()

In [38]:
for index, row in self.df_brief.iterrows():
    ic(index)
    ic(row['original_name'])
    ic(row['upper'].split(','))
    print('\n')

ic| index: 0
ic| row['original_name']: '내리'
ic| row['upper'].split(','): ['충청남도', '규암면', '충남', '부여군']

In [42]:
self.df_brief

  original_name found_name level count upper
0            내리         내리     4     1

### todo: inspection

In [43]:
text = df_text.iloc[42]['content']
text = sa.clean_text(text)

In [5]:
index = 42
text_iter = iter(zip(df_text.index[index:], df_text.loc[index:, 'content']))

In [ ]:
index, text = next(text_iter)
text = sa.clean_text(text)

In [28]:
self = CheckAddressLevels(df_address=df_addr, text=text)
self.process()

df_brief = self.df_brief.copy()
print(df_brief)

  original_name found_name level count upper
0           태안군         태안     2     2
1           태안읍        태안읍     3     2    태안
2            경기         경기     0     1
3           화성시         화성     2     6    경기

In [27]:
text_mark = text
for item in df_brief['found_name'].values:
    text_mark = sa.re_sub(item, text_mark)

print(f"\nindex: {index}\n")
print(text_mark)

index: 53

지난달 이춘재 연쇄살인 8차 사건 재심 재판의 증인으로 채택된 이춘재가 출석한 법정. /사진=연합뉴스
이춘재 연쇄살인사건에 대한 재수사가 공소시효 만료에 따른 '공소권 없음'으로 최종 결론 났다. 이로써 14건의 살인사건을 자백한 이춘재와 과거 수사 과정에서 불법을 저지른 혐의를 받는 당시 경찰관과 검사 등 수사관계자 9명은 처벌을 면하게 됐다. 검찰은 지난 7월 경찰로부터 이춘재가 자백한 14건의 살인, 9건의 성범죄·강도 사건 등 23건을 송치받아 수사한 끝에 이같이 결론 내렸다고 28일 밝혔다. 1994년 처제를 성폭행 후 살해한 혐의로 무기징역을 선고받아 복역 중인 이춘재는 지난해 경찰 재수사 과정에서 1986년 9월∼1991년 4월까지 🔺경기🔻 🔺화성🔻에서 발생한 10건의 살인사건과 △1987년 12월 수원 여고생 살인사건 △1989년 7월 🔺화성🔻 초등생 실종사건 △1991년 1월 청주 여고생 살인사건 △1991년 3월 청주 주부 살인사건 등 4건의 살인을 자신이 저질렀다고 자백했다. 또 34건의 성범죄 또는 강도 행각을 벌였다고 털어놨으나, 피해자 진술 등을 확보한 9건을 제외한 다른 사건들은 송치 대상에서 제외됐다. 이번 처분에 대해 검찰은 "이춘재가 자백한 23건의 사건은 모두 혐의가 인정되나, 공소시효가 지난 것이 명백해 공소권 없음으로 처분했다"고 설명했다.

지난 17일 수원지방법원에서 열린 이춘재 연쇄살인 8차 사건 재심 선고공판에서 재심 청구인 윤성여 씨가 무죄를 선고받고 법정에서 나오고 있다.꽃다발 들고 법원 나서는 윤성여씨. /사진=연합뉴스
검찰은 또 이춘재 8차 사건 및 🔺화성🔻 초등생 실종 사건 수사 과정에서 불법을 저지른 혐의를 받는 당시 경찰관과 검사 등 9명에 대해서도 같은 이유로 '공소권 없음' 처분을 내렸다. 이들은 1988년 9월16일 🔺화성🔻 🔺태안🔻읍에서 A양(당시 13)이 성폭행당하고 숨진 채 발견된 이춘재 8차 사건의 범인으로 윤성여씨(53)를 지목하고 윤 씨를 불법으로 체포·감금하고, 구타·가혹행위를 한 혐의를 받았다.특히 이들 중 경찰관 1명은 1989년 7월7일 🔺화성🔻 🔺태안🔻읍에 살던 B양(당시 8세)이 방과 후 실종된 🔺화성🔻 초등생 실종사건 수사 과정에 B양의 유골 일부를 발견하고도 은닉한 혐의도 받았다. 이 사건은 단순 실종사건으로 분류됐다가 이춘재의 자백으로 그가 B양을 살해한 사실이 뒤늦게 밝혀졌다. 한편 수원지법은 이춘재 8차 사건의 범인으로 몰려 20년간 억울한 옥살이를 한 윤씨의 재심 청구에 대해 지난 17일 무죄를 선고했다. 이후 검찰이 항소를 제기하지 않아 윤씨에 대한 무죄 판결은 지난 24일자로 확정됐다.이춘재 사건 당시 살인죄의 공소시효는 15년에 불과해 마지막 사건이 발생한 1991년 4월3일을 기준으로 2006년 4월2일을 기해 공소시효가 지났다. 이후 2007년 법 개정으로 살인죄의 공소시효는 25년으로 늘었다가 2015년 폐지됐다.이보배 한경닷컴 객원기자 newsinfo@hankyung.com

- 45
    - 서울 노원구 중계동
    - 서울 종로구 청사
-

이쯤이면 된 것 같다.  
다음 프로세스를 하자.

### todo: sorting

In [29]:
df_brief.sort_values(by=['level'], axis=0, ascending=False)

  original_name found_name level count upper
1           태안읍        태안읍     3     2    태안
0           태안군         태안     2     2
3           화성시         화성     2     6    경기
2            경기         경기     0     1

### todo: '시', '군', '구' 있을 경우

In [37]:
def isendswith(text: str, postfix: list) -> str:
    for item in postfix:
        if text.endswith(item):
            return item
    return ''


def re_findall_endswith(
    keyword: str,
    text: str,
    postfix: list,
    min_len=2       # minimum keyword length. default: 2
) -> list:
    flag_endword = False
    if len(keyword) > min_len:
        end_word = isendswith(keyword, postfix)
        if end_word: flag_endword = True
    result = re.findall(sa.re_pattern(keyword), text)
    if len(result) == 0:
        keyword = keyword[:-len(end_word)]
        return re.findall(sa.re_pattern(keyword), text)
    else:
        return result

In [38]:
text = "one, two, three. onething, something, nothing, anything."
keyword = "onething"
postfix = ['thing']

In [39]:
re_findall_endswith(keyword, text, postfix)

['onething']

#### ask

In [40]:
import re
from typing import List

def find_keyword_with_postfix(keyword: str, text: str, postfixes: List[str], min_len: int = 2) -> List[str]:
    """
    Finds all occurrences of the keyword in the text. If the keyword ends with any
    postfix in the provided list, the function will first try to match the full keyword.
    If no matches are found, it will remove the postfix and try again.

    Parameters:
    keyword (str): The keyword to search for in the text.
    text (str): The text in which to search for the keyword.
    postfixes (List[str]): A list of postfixes to check and remove from the keyword if necessary.
    min_len (int): The minimum length of the keyword to consider. Default is 2.

    Returns:
    List[str]: A list of all matches found in the text.
    """
    def is_endswith(text: str, postfixes: List[str]) -> str:
        for postfix in postfixes:
            if text.endswith(postfix):
                return postfix
        return ''

    # Check if the keyword is long enough and ends with any of the postfixes
    if len(keyword) > min_len:
        postfix = is_endswith(keyword, postfixes)
        if postfix:
            # Try to find matches with the full keyword first
            pattern = rf'\b{re.escape(keyword)}\b'
            result = re.findall(pattern, text, flags=re.IGNORECASE)
            if result:
                return result

            # Remove the postfix and try again
            keyword = keyword[:-len(postfix)]

    # Final attempt to find matches without the postfix
    pattern = rf'\b{re.escape(keyword)}\b'
    return re.findall(pattern, text, flags=re.IGNORECASE)

In [41]:
# Example usage
text = "I saw onething, twothing, manything, and something at the market. But no nothing or everything."
keyword = 'onething'
postfixes = ['thing', 'other', 'stuff']
result = find_keyword_with_postfix(keyword, text, postfixes)
print(result)

['onething']

#### apply

In [57]:
index = 57
text_iter = iter(zip(df_text.index[index:], df_text.loc[index:, 'content']))

In [141]:
index, text = next(text_iter)
text = sa.clean_text(text)

In [142]:
self = CheckAddressLevels(df_address=df_addr, text=text)
self.process()

df_brief = self.df_brief.copy()
print(df_brief)

  original_name found_name level count upper
0            유리         유리     4     1
1            신동         신동     3     1
2            거리         거리     4     1
3            인천         인천     0     3
4            행동         행동     3     1
5            비리         비리     4     1

In [143]:
text_mark = text
for item in df_brief['found_name'].values:
    ic(item)
    text_mark = sa.re_sub(item, text_mark)

print(f"\nindex: {index}\n")
print(text_mark)

ic| item: '유리'
ic| item: '신동'
ic| item: '거리'
ic| item: '인천'
ic| item: '행동'
ic| item: '비리'

index: 80

/사진=JTBC 월화드라마 '모범형사' 영상 캡처
'모범형사' 손현주, 장승조가 선사한 충격적인 결말에 시청률도 반응했다. 시청률조사회사 닐슨코리아 집계에 따르면 7일 방송된 JTBC 새 월화드라마 '모범형사' 전국 일일 시청률은 3.8%(유료 플랫폼 기준), 광고 판매 기준이 되는 수도권은 4.7%을 기록했다. 여고생 실종 사건은 해결됐지만, 5년 전 여대상 살해 사건의 새로운 실마리가 등장하면서 강도창(손현주)와 오지혁(장승조)이 어떤 활약을 펼칠지 호기심을 자극했다. 이날 방송에서는 '살인범의 딸'로 낙인 찍힌 여고생 이은혜(이하은) 실종 사건이 박건호(이현욱)의 자작극임이 밝혀졌다. 하지만 아버지 이대철(조재윤)이 여대생과 경찰을 살해한 혐의로 사형 판결을 받으면서 '살인자의 딸'로 낙인 찍힌 채 위태롭게 살아가는 모습이 그려지면서 안타까움을 자아냈다. 박건호가 자작극을 펼친 이유는 이대철의 무죄를 언론에 알리기 위해서였다. 여기에 이대철의 무죄를 주장하는 또다른 제보가 강도창에게 전달됐다. 강도창이 전달받은 이메일에는 이대철이 사건 현장에 없었다는 알리바이가 담겨 있어서 충격을 선사했다. 이은혜 실종 사건의 단서는 오지혁이 최초 신고자인 장유나(천인서)를 압박하면서 찾아냈다. 오지혁은 장유나를 통해 가출 청소년들의 우두머리 박홍두(신재휘)를 잡아, 그의 핸드폰에 남아있던 "나 찾지마. 없어질 거니까"라는 이은혜의 메시지를 확인했다. 실종될 걸 미리 알고 있었단 의미였다. 머리를 맞대고 박건호와 이은혜의 공모 가설을 세운 강도창과 오지혁은 "이은혜의 시체가 발견됐다"는 거짓말로 그를 시험대에 세웠다. 역시나 박건호는 당황했고, "아는 변호사가 필요하다"며 핸드폰을 요구했다. 그러나 그가 살아있는 이은혜에게 연락할 것이란 예측은 보기 좋게 빗나갔다. 이에 오지혁은 박건호의 핸드폰에 주목했고, 카드 사용 내역 문자를 통해 이은혜의 생존을 확신했다.카드 사용 장소가 주로 여고생들이 가는 장소였기 때문. 두 형사는 사용 내역이 찍힌 흔적을 좇기 시작했다. 한편, 정한일보 🔺인천🔻 주재 기자 진서경(이엘리야)은 사회부장 유정석(지승현)의 지시로 이대철이 죽인 피해자 유가족들의 인터뷰 기사를 썼다. 그러나 양쪽 입장을 최대한 객관적으로 쓴 기사는 마치 그녀가 사형제도를 옹호한 것처럼 수정돼 있었다. 유정석에게 따져 물었지만, 석연치 않은 답변만 돌아온 그때, 그녀가 터뜨린 🔺비리🔻 기사로 수감중인 전 🔺인천🔻지검장 김기태(손병호)가 면회를 요청해왔다. 그리고 이대철 사건 당시 형사부 부장검사였던 김기태는 "이대철은 진범이 아니다"며 "진범으로 만들어진 것"이라고 말해 놀라움을 안겼다. 또한, 그 사건이 "형사, 검사, 판사가 다 함께 만든 공동 작품"이라며, 진서경이 쓴 기사가 사형집행을 부추기는 결과로 나타날 것이며, 그 배후에 유정석이 있음을 암시했다. 진서경은 김기태의 말이 이해가 되지 않았지만, 사실 확인을 시도했다. 진서경은 당시 담당 형사였던 강도창을 찾아 당시 상황을 물었다. 그렇지만 이들의 만남을 타사 기자가 목격했고, 수상하게 여기며 박건호의 존재를 알아냈다. 뿐만 아니라 '현직 전도사 여고생 살해하고 암매장'이란 자극적인 타이틀로 보도하기에 이르렀다. 담당검사는 박건호를 검찰로 송치하란 명령을 내렸고, 박건호는 몰려든 기자들을 향해 "사형수 이대철은 아무 죄도 없는 사람입니다"라며 재수사를 촉구했다. 🔺인천🔻 서부서가 이렇게 혼란에 빠진 그때, 강도창과 오지혁이 찾아낸 이은혜와 함께 등장했다. 결국 이 사건은 두 사람의 자작극으로 종결됐지만, 강도창, 오지혁, 그리고 진서경은 이대철의 무죄 가능성을 강하게 의심하게 됐다. 그런데 방송 말미, 강도창에게 이대철의 무죄를 입증할 수 있는 증거라며 CCTV 영상이 첨부된 이메일이 도착했다. 5년 전 사건 범행이 일어나던 시각, 이대철이 택배 회사에서 근무하던 모습이 고스란히 담겨 있었다. 만약 영상이 조작된 게 아니라면 사건 당시에 이대철이 사체 유기 현장에 없었다는 알리바이가 입증된다. 또한 "난 아무 짓도 하지 않았다"라던 이대철의 진술을 뒷받침할 수 있었다.오지혁은 이은혜에게 집중했다. 박건호에게 "다 끝났다"면서 존재를 알린 후 자신을 향해 쏟아진 스포트라이트에 "무슨 말이라도 하면 혀깨물고 죽어버리겠다"고 취재진을 협박하며 경찰서를 나선 이은혜였다. 하지만 아이러니하게도 박홍두에겐 "제발 날 버리지 말아달라"며 애원했다. 그러나 박홍두는 "살인마의 딸"이라며 이은혜를 내쫓았고, 오지혁은 이 모든 상황을 지켜봤다. 여기에 위태롭게 🔺거리🔻를 헤매던 이은혜가 발작까지 하면서 앞으로 오지혁이 어떤 🔺행동🔻을 할 지 관심이 쏠렸다. 더불어 이날 방송에서는 이대철과 관계가 있는 듯한 인물들이 대거 등장해 호기심을 자극했다. 현재 청문담당관실 소속인 윤상미(🔺신동🔻미)는 이대철 사건의 결정적 증거였던 살해 도구를 잃어버렸다. 이후 5년이 지난 지금까지 이대철 관련 보도를 보며 극도의 히스테리 증상을 나타냈다. 박건호 사건이 언론에 노출되는 걸 꺼리던 문상범(손종학) 경찰서장은 당시 윤상미가 잃어버린 그 증거를 어디선가 되찾아와, 그 사실을 은폐하라 지시했다. 법무부 장관 임명을 앞두고 있는 국회의원 유정렬(조승연)의 동생 유정석은 "새 길을 내려면 쓰레기는 치워야 한다"며 사형 집행에 🔺유리🔻한 기사 작성을 지시했다. 이들의 이야기가 향후 '모범형사'에서 어떻게 펼쳐질지 지켜볼 일이다., 한편 '모범형사'는 매주 월, 화요일 밤 9시 30분 방송된다. 김소연 한경닷컴 기자 sue123@hankyung.com기사제보 및 보도자료 newsinfo@hankyung.com

- 71
    - 강'경주' 한경닷컴 기자... ㅋㅋㅋ
- 75, 80
    - 연결'고리', '신동'미, '비리'혐의, 친'구로'부터... ㅋㅋㅋ
    - 안되겠다. 다 잡아내려고 하면 불필요한 정보까지 걸린다.
    - '\b' 앞쪽은 공백으로 해야겠다.  
-

In [106]:
df_addr[df_addr['lv2'] == '영등포구']

      lv0    lv1   lv2     lv3   lv4  lv5
28107  서울  서울특별시  영등포구    영등포동  None  NaN
28108  서울  서울특별시  영등포구  영등포동1가  None  NaN
28109  서울  서울특별시  영등포구  영등포동2가  None  NaN
28110  서울  서울특별시  영등포구  영등포동3가  None  NaN
28111  서울  서울특별시  영등포구  영등포동4가  None  NaN
28112  서울  서울특별시  영등포구  영등포동5가  None  NaN
28113  서울  서울특별시  영등포구  영등포동6가  None  NaN
28114  서울  서울특별시  영등포구  영등포동7가  None  NaN
28115  서울  서울특별시  영등포구  영등포동8가  None  NaN
28116  서울  서울특별시  영등포구    여의도동  None  NaN
28117  서울  서울특별시  영등포구   당산동1가  None  NaN
28118  서울  서울특별시  영등포구   당산동2가  None  NaN
28119  서울  서울특별시  영등포구   당산동3가  None  NaN
28120  서울  서울특별시  영등포구   당산동4가  None  NaN
28121  서울  서울특별시  영등포구   당산동5가  None  NaN
28122  서울  서울특별시  영등포구   당산동6가  None  NaN
28123  서울  서울특별시  영등포구     당산동  None  NaN
28124  서울  서울특별시  영등포구     도림동  None  NaN
28125  서울  서울특별시  영등포구   문래동1가  None  NaN
28126  서울  서울특별시  영등포구   문래동2가  None  NaN
28127  서울  서울특별시  영등포구   문래동3가  None  NaN
28128  서울  서울특별시  영등포구   문래동4가  None  NaN
28129  서울  서울특별시  영등포구   문래동5가  None  NaN
28130  서울  서울특별시  영등포구   문래동6가  None  NaN
28131  서울  서울특별시  영등포구   양평동1가  None  NaN
28132  서울  서울특별시  영등포구   양평동2가  None  NaN
28133  서울  서울특별시  영등포구   양평동3가  None  NaN
28134  서울  서울특별시  영등포구   양평동4가  None  NaN
28135  서울  서울특별시  영등포구   양평동5가  None  NaN
28136  서울  서울특별시  영등포구   양평동6가  None  NaN
28137  서울  서울특별시  영등포구     양화동  None  NaN
28138  서울  서울특별시  영등포구     신길동  None  NaN
28139  서울  서울특별시  영등포구     대림동  None  NaN
28140  서울  서울특별시  영등포구     양평동  None  NaN

### todo: 가장 가능성이 높은 주소 선택

#### warming-up

In [144]:
index = 81
text_iter = iter(zip(df_text.index[index:], df_text.loc[index:, 'content']))

In [175]:
index, text = next(text_iter)
text = sa.clean_text(text)

In [176]:
self = CheckAddressLevels(df_address=df_addr, text=text)
self.process()

df_brief = self.df_brief.copy()
# df_brief = df_brief.sort_values(by=['level', 'count'], axis=0, ascending=False)
print(df_brief)

  original_name found_name level count   upper
2           태안읍        태안읍     3     4      태안
8           화성시        화성시     2     3  경기,경기도
7           경기도        경기도     1     1      경기
1           태안군         태안     2     5
3           진안군         진안     2     1
4           사상구         사상     2     1
6            경기         경기     0     3

In [177]:
text_mark = text
for item in df_brief['found_name'].values:
    ic(item)
    text_mark = sa.re_sub(item, text_mark)

print(f"\nindex: {index}\n")
print(text_mark)

ic| item: '태안읍'
ic| item: '화성시'
ic| item: '경기도'
ic| item: '태안'
ic| item: '진안'
ic| item: '사상'
ic| item: '경기'

index: 87

이춘재의 고등학교 졸업 사진 . 연합뉴스
1986년~1991년 🔺🔺경기🔻도🔻 화성 일대에서 발생해 국내 강력범죄 🔺사상🔻 최악의 장기미제사건으로 남았던 화성 연쇄살인 사건에 대한 경찰의 재수사가 1년 만에 마무리됐다. 첫 번째 살인사건이 발생한 1986년 이후 34년 만이다.🔺경기🔻남부지방경찰청은 2일 본관 5층 강당에서 브리핑을 열고 “이춘재(57)가 14명의 여성을 살해하고 다른 9명의 여성을 상대로 성폭행 범행을 한 것을 확인해 검찰에 송치 예정이다”고 이춘재 연쇄살인 사건 수사결과를 발표했다. 이춘재 범행동기경찰은 이춘재의 범행 동기가 “욕구 해소와 내재된 욕구불만을 표출하기 위해 가학적 형태의 범행을 한 것”이라고 밝혔다. 살해된 피해자들 역시 대부분 성폭행 후 죽임을 당했다. 이춘재는 1986년 9월부터 1991년 4월까지 🔺🔺태안🔻읍🔻사무소 반경 3㎞내 🔺화성시🔻 🔺태안🔻과 정남, 팔탄 등 4개 읍·면에서 발생한 10건의 살인사건 모두를 범행한 것으로 조사됐다.이 가운데 1988년 9월 화성 🔺🔺태안🔻읍🔻 🔺진안🔻리에서 13세 박모양이 집에서 성폭행 당해 숨진 채 발견된 8차 사건을 제외한 9건은 미제로 남았었다. 8차 사건은 이듬해 윤모(53) 씨가 범인으로 검거돼 20년을 복역하고 2009년 가석방됐다. 윤 씨는 재심을 청구해 현재 수원지법에서 재심이 진행 중이다. 이춘재는 화성지역 10건의 살인사건 외에 1987년 12월 수원 여고생, 1989년 7월 화성 초등학생 실종사건, 1991년 1월 청주 여고생 살인사건, 1991년 3월 청주 주부 살인사건 등 4건의 살인사건도 범행한 것으로 드러났다. 여기에 34건의 성폭행 또는 강도 범행을 저질렀다고 자백했다. 경찰은 재조사를 위해 2019년 9월부터 지난 4월까지 총 52회에 걸쳐 이춘재를 접견해 살인사건 피해자들의 유류품에서 나온 이춘재의 DNA 등 증거를 제시해 14건의 살인 범행 자백을 받아냈다. 경찰 관계자는 "이춘재는 군 전역 후 무료하고 단조로운 생활로 인한 스트레스가 가중돼 욕구 해소와 욕구불만을 표출하기 위해 가학적 형태의 범행을 저지른 것으로 분석된다"고 말했다.재수사 단초는 DNA 분석기술이춘재 연쇄살인 사건의 해결의 실마리는 DNA 분석기술에 따른 과학수사에 있었다. 공소시효가 지났음에도 진실규명을 위해 수사기록과 증거물을 계속 보관해온 경찰의 노력도 보태졌다.경찰은 화성에서 발생한 살인사건 피해자들의 유류품을 지난해 7월 15일 국립과학수사연구원으로 보내 DNA 검출·분석을 의뢰하는 것으로 이 사건 수사를 재개했다. 사건 발생 시점과 유류품 발견 당시 환경 등을 고려해 DNA가 검출될 가능성이 상대적으로 높은 9차 사건(🔺🔺태안🔻읍🔻 병점리 야산에서 13세 김모 양 시신발견) 유류품부터 순차적으로 의뢰했다. 그리고 지난해 8월 9일 9차 사건 유류품에서 이춘재의 DNA가 처음 검출되면서 수사는 급물살을 탔다. 이후 3·4·5·7차 사건 등 5건의 유류품에서 이춘재의 DNA가 검출됐다. 경찰은 “이춘재는 어떤 사건에서 DNA가 검출됐는지 전혀 모르는 상황에서 자신의 기억에 의존해 임의로 범행현장과 피해자를 직접 보고 경험한 정보에 기반해 범행을 진술했다"며 "자백의 진실성이 높다”고 분석했다.공소시효 만료됐지만경찰은 이춘재 연쇄살인 사건의 진실이 34년 만에 규명된 만큼 이 사건의 전체 수사과정과 그 과정에서 드러난 잘잘못 등을 자료로 남겨, 책임있는 수사기관으로 거듭나는 역사적 교훈으로 삼겠다는 입장이다.이와 함께 1988년 9월 🔺화성시🔻 🔺🔺태안🔻읍🔻 13세 박모 양 살해사건(화성 8차)의 범인으로 몰려 20년을 복역하고 2009년 석방된 윤모씨의 재심 절차에 지속적으로 협조하기 했다. 경찰의 재수사로 이춘재의 살인 행각은 드러났지만 모든 혐의에 대한 처벌은 공소시효가 지나 처벌은 할 수 없다. 이춘재의 마지막 범행은 1991년 🔺화성시🔻 동탄 반송리 야산에서 발견된 권모(69)씨다. 살인죄의 공소시효는 15년으로 2006년 4월로 이미 공소시효가 만료됐다.이와 함께 화성 8차 사건과 관련 직권남용과 감금 등의 혐의로 입건된 경찰관 및 검사 등 8명에 대한 혐의도 공소시효가 완료돼 검찰에 ‘공소권 없음’ 의견으로 송치 예정이다.한편 배용주 🔺경기🔻남부지방경찰청장은 이날 "이춘재의 잔혹한 범행으로 희생되신 피해자들의 명복을 빌며 유족분들께도 깊은 위로의 말씀을 드린다"며 "범인으로 몰려 20년간 억울한 옥살이를 한 분과 그의 가족, 그 외 당시 경찰의 무리한 수사로 인해 손해를 입으신 모든 분께 사죄드린다"고 고개를 숙였다.수원=윤상연 기자 syyoon1111@hankyung.com

In [180]:
df_brief

  original_name found_name level count   upper
2           태안읍        태안읍     3     4      태안
8           화성시        화성시     2     3  경기,경기도
7           경기도        경기도     1     1      경기
1           태안군         태안     2     5
3           진안군         진안     2     1
4           사상구         사상     2     1
6            경기         경기     0     3

태안읍에서 태안(군)으로 인식.  
이건 또 어떻게 처리해야하나.

In [187]:
df_test = self.filter_keyword('태안')

In [191]:
for index, row in df_test.iterrows():
    for column, value in row.items():
        print(value, end=' ')
    print()

충남 충청남도 태안군 태안읍 동문리 nan
충남 충청남도 태안군 태안읍 남문리 nan
충남 충청남도 태안군 태안읍 장산리 nan
충남 충청남도 태안군 태안읍 남산리 nan
충남 충청남도 태안군 태안읍 송암리 nan
충남 충청남도 태안군 태안읍 반곡리 nan
충남 충청남도 태안군 태안읍 평천리 nan
충남 충청남도 태안군 태안읍 상옥리 nan
충남 충청남도 태안군 태안읍 인평리 nan
충남 충청남도 태안군 태안읍 도내리 nan
충남 충청남도 태안군 태안읍 어은리 nan
충남 충청남도 태안군 태안읍 산후리 nan
충남 충청남도 태안군 태안읍 삭선리 nan
충남 충청남도 태안군 안면읍 승언리 nan
충남 충청남도 태안군 안면읍 정당리 nan
충남 충청남도 태안군 안면읍 창기리 nan
충남 충청남도 태안군 안면읍 중장리 nan
충남 충청남도 태안군 안면읍 신야리 nan
충남 충청남도 태안군 안면읍 황도리 nan
충남 충청남도 태안군 고남면 장곡리 nan
충남 충청남도 태안군 고남면 누동리 nan
충남 충청남도 태안군 고남면 고남리 nan
충남 충청남도 태안군 남면 신산리 nan
충남 충청남도 태안군 남면 신암리 nan
충남 충청남도 태안군 남면 매곡리 nan
충남 충청남도 태안군 남면 구암리 nan
충남 충청남도 태안군 남면 두곡리 nan
충남 충청남도 태안군 남면 경신리 nan
충남 충청남도 태안군 남면 상수리 nan
충남 충청남도 태안군 남면 입암리 nan
충남 충청남도 태안군 남면 한산리 nan
충남 충청남도 태안군 남면 황방리 nan
충남 충청남도 태안군 남면 송학리 nan
충남 충청남도 태안군 남면 마정리 nan
충남 충청남도 태안군 남면 송암리 nan
충남 충청남도 태안군 남면 대선리 nan
충남 충청남도 태안군 남면 회동리 nan
충남 충청남도 태안군 남면 내곡리 nan
충남 충청남도 태안군 남면 신홍리 nan
충남 충청남도 태안군 남면 금천리 nan
충남 충청남도 태안군 남면 삼용리 nan
충남 충청남도 태안군 남면 진산리 nan
충남 충청남도 태안군 남면 몽산리 nan
충남 충청남도 태안군 남면 신장리 nan
충남 충청남도 태안군 남면 달산리 nan
충남 충청남도 태안군 남면 양잠리 nan
충남 충청남도 태안군 남면 원청리 nan
충남 충청남도 태안군 남면 당암리 nan
충남 충청남도 태안군 남면 신온리 nan
충남 충청남도 태안군 남면 거아도리 nan
충남 충청남도 태안군 남면 우학리 nan
충남 충청남도 태안군 남면 심장리 nan
충남 충청남도 태안군 남면 두모리 nan
충남 충청남도 태안군 남면 유송리 nan
충남 충청남도 태안군 남면 안도리 nan
충남 충청남도 태안군 남면 연도리 nan
충남 충청남도 태안군 남면 두라리 nan
충남 충청남도 태안군 남면 화태리 nan
충남 충청남도 태안군 남면 횡간리 nan
충남 충청남도 태안군 남면 분향리 nan
충남 충청남도 태안군 남면 녹진리 nan
충남 충청남도 태안군 남면 덕성리 nan
충남 충청남도 태안군 남면 마령리 nan
충남 충청남도 태안군 남면 평산리 nan
충남 충청남도 태안군 남면 행정리 nan
충남 충청남도 태안군 남면 월정리 nan
충남 충청남도 태안군 남면 삼태리 nan
충남 충청남도 태안군 남면 월곡리 nan
충남 충청남도 태안군 남면 옥산리 nan
충남 충청남도 태안군 남면 운곡리 nan
충남 충청남도 태안군 남면 송곡리 nan
충남 충청남도 태안군 남면 월명리 nan
충남 충청남도 태안군 남면 부상리 nan
충남 충청남도 태안군 남면 오봉리 nan
충남 충청남도 태안군 남면 봉천리 nan
충남 충청남도 태안군 남면 초곡리 nan
충남 충청남도 태안군 남면 운남리 nan
충남 충청남도 태안군 남면 당항리 nan
충남 충청남도 태안군 남면 석교리 nan
충남 충청남도 태안군 남면 홍현리 nan
충남 충청남도 태안군 남면 선구리 nan
충남 충청남도 태안군 남면 임포리 nan
충남 충청남도 태안군 남면 평산리 nan
충남 충청남도 태안군 남면 덕월리 nan
충남 충청남도 태안군 남면 상가리 nan
충남 충청남도 태안군 남면 죽전리 nan
충남 충청남도 태안군 남면 관천리 nan
충남 충청남도 태안군 남면 박암리 nan
충남 충청남도 태안군 남면 가정리 nan
충남 충청남도 태안군 남면 발산리 nan
충남 충청남도 태안군 남면 후동리 nan
충남 충청남도 태안군 남면 추곡리 nan
충남 충청남도 태안군 남면 한덕리 nan
충남 충청남도 태안군 남면 양덕원리 nan
충남 충청남도 태안군 남면 유목정리 nan
충남 충청남도 태안군 남면 신대리 nan
충남 충청남도 태안군 남면 시동리 nan
충남 충청남도 태안군 남면 유치리 nan
충남 충청남도 태안군 남면 월천리 nan
충남 충청남도 태안군 남면 명동리 nan
충남 충청남도 태안군 남면 제곡리 nan
충남 충청남도 태안군 남면 용수리 nan
충남 충청남도 태안군 남면 남노일리 nan
충남 충청남도 태안군 남면 화전리 nan
충남 충청남도 태안군 남면 연당리 nan
충남 충청남도 태안군 남면 창원리 nan
충남 충청남도 태안군 남면 토교리 nan
충남 충청남도 태안군 남면 광천리 nan
충남 충청남도 태안군 남면 조전리 nan
충남 충청남도 태안군 남면 북쌍리 nan
충남 충청남도 태안군 남면 문곡리 nan
충남 충청남도 태안군 남면 무릉리 nan
충남 충청남도 태안군 남면 유평리 nan
충남 충청남도 태안군 남면 낙동리 nan
충남 충청남도 태안군 남면 광덕리 nan
충남 충청남도 태안군 남면 신남리 nan
충남 충청남도 태안군 남면 신풍리 nan
충남 충청남도 태안군 남면 어론리 nan
충남 충청남도 태안군 남면 부평리 nan
충남 충청남도 태안군 남면 갑둔리 nan
충남 충청남도 태안군 남면 정자리 nan
충남 충청남도 태안군 남면 남전리 nan
충남 충청남도 태안군 남면 관대리 nan
충남 충청남도 태안군 남면 신월리 nan
충남 충청남도 태안군 남면 상수내리 nan
충남 충청남도 태안군 남면 하수내리 nan
충남 충청남도 태안군 남면 수산리 nan
충남 충청남도 태안군 남면 소치리 nan
충남 충청남도 태안군 근흥면 두야리 nan
충남 충청남도 태안군 근흥면 수룡리 nan
충남 충청남도 태안군 근흥면 마금리 nan
충남 충청남도 태안군 근흥면 안기리 nan
충남 충청남도 태안군 근흥면 용신리 nan
충남 충청남도 태안군 근흥면 도황리 nan
충남 충청남도 태안군 근흥면 정죽리 nan
충남 충청남도 태안군 근흥면 신진도리 nan
충남 충청남도 태안군 근흥면 가의도리 nan
충남 충청남도 태안군 소원면 시목리 nan
충남 충청남도 태안군 소원면 법산리 nan
충남 충청남도 태안군 소원면 신덕리 nan
충남 충청남도 태안군 소원면 영전리 nan
충남 충청남도 태안군 소원면 소근리 nan
충남 충청남도 태안군 소원면 의항리 nan
충남 충청남도 태안군 소원면 모항리 nan
충남 충청남도 태안군 소원면 파도리 nan
충남 충청남도 태안군 소원면 송현리 nan
충남 충청남도 태안군 원북면 반계리 nan
충남 충청남도 태안군 원북면 이곡리 nan
충남 충청남도 태안군 원북면 황촌리 nan
충남 충청남도 태안군 원북면 방갈리 nan
충남 충청남도 태안군 원북면 신두리 nan
충남 충청남도 태안군 원북면 동해리 nan
충남 충청남도 태안군 원북면 대기리 nan
충남 충청남도 태안군 원북면 장대리 nan
충남 충청남도 태안군 원북면 청산리 nan
충남 충청남도 태안군 원북면 양산리 nan
충남 충청남도 태안군 원북면 마산리 nan
충남 충청남도 태안군 이원면 건진리 nan
충남 충청남도 태안군 이원면 장찬리 nan
충남 충청남도 태안군 이원면 강청리 nan
충남 충청남도 태안군 이원면 윤정리 nan
충남 충청남도 태안군 이원면 의평리 nan
충남 충청남도 태안군 이원면 개심리 nan
충남 충청남도 태안군 이원면 평계리 nan
충남 충청남도 태안군 이원면 수묵리 nan
충남 충청남도 태안군 이원면 지정리 nan
충남 충청남도 태안군 이원면 미동리 nan
충남 충청남도 태안군 이원면 이원리 nan
충남 충청남도 태안군 이원면 원동리 nan
충남 충청남도 태안군 이원면 백지리 nan
충남 충청남도 태안군 이원면 지탄리 nan
충남 충청남도 태안군 이원면 용방리 nan
충남 충청남도 태안군 이원면 내리 nan
충남 충청남도 태안군 이원면 관리 nan
충남 충청남도 태안군 이원면 당산리 nan
충남 충청남도 태안군 이원면 포지리 nan
충남 충청남도 태안군 이원면 사창리 nan

In [196]:
result = (df_brief.iloc[0].values)
print(result[-1], result[0])

태안 태안읍

#### test

In [197]:
index = 87
text_iter = iter(zip(df_text.index[index:], df_text.loc[index:, 'content']))

In [267]:
index, text = next(text_iter)
text = sa.clean_text(text)

In [268]:
self = CheckAddressLevels(df_address=df_addr, text=text)
result = self.process()
print(result)

남구 삼산동

In [269]:
df_brief = self.df_brief.copy()
df_brief

  original_name found_name level count upper
2           삼산동        삼산동     3     1    남구
1            남구         남구     2     1
3            울산         울산     0     3

#### issue: making upper levels

In [270]:
# result = self.get_top_result()
# print(result)

items = result.split(' ')
print(items)

if items:
    for item in items:
        extr = sa.extract_sentences_with_keyword(keyword=item, text=text)
        print(' '.join(extr))

남구 삼산동
['남구', '삼산동']
경찰에 따르면 A씨는 지난 22일 오전 11시30분께 울산시 🔺남구🔻 삼산동 농수산물도매시장 인근에서 나체로 도로를 활보하고, 주행 중인 차량에 올라타 주먹으로 앞 유리를 가격하는가 하면 차량 지붕 위에 올라가 수차례 뛰어 운전자를 위협하고 차량을 파손했다.
경찰에 따르면 A씨는 지난 22일 오전 11시30분께 울산시 남구 🔺삼산동🔻 농수산물도매시장 인근에서 나체로 도로를 활보하고, 주행 중인 차량에 올라타 주먹으로 앞 유리를 가격하는가 하면 차량 지붕 위에 올라가 수차례 뛰어 운전자를 위협하고 차량을 파손했다.

In [271]:
text_mark = text
for item in df_brief['found_name'].values:
    ic(item)
    text_mark = sa.re_sub(item, text_mark)

print(f"\nindex: {index}\n")
print(text_mark)

ic| item: '삼산동'
ic| item: '남구'
ic| item: '울산'

index: 100

대낮 도로에서 나체로 난동을 부린 30대 남성이 경찰에 붙잡혀 병원 입원 조치 됐다. /사진=유튜브 영상 캡처
대낮 나체로 도로를 활보하다 승용차를 가격하는 등 폭력적인 모습을 보인 남성이 경찰에 붙잡혀 입원 조치 됐다. 🔺울산🔻 남부경찰서는 나체로 도심 도로를 활보한 30대 남성 A 씨를 공연음란등의 혐의로 불구속 입건해 조사하고 있다고 지난 23일 밝혔다. 경찰에 따르면 A씨는 지난 22일 오전 11시30분께 🔺울산🔻시 🔺남구🔻 🔺삼산동🔻 농수산물도매시장 인근에서 나체로 도로를 활보하고, 주행 중인 차량에 올라타 주먹으로 앞 유리를 가격하는가 하면 차량 지붕 위에 올라가 수차례 뛰어 운전자를 위협하고 차량을 파손했다. 조사결과 피해차량 운전자는 여성으로 A 씨와는 모르는 사이로 드러났으며, 신고를 받고 현장에 출동한 경찰은 A 씨를 붙잡아 병원에 응급 입원시켰다. A 씨가 회복되는 대로 자세한 경위를 조사할 방침이다. 인터넷 커뮤니티와 SNS 등에는 '🔺울산🔻 터미네이터'라는 제목으로 A 씨가 나체로 활보하는 모습이 담긴 영상이 퍼지고 있는 가운데 경찰은 방송통신심의위원회에 해당 영상을 삭제해 달라고 요청할 예정이다. 이보배 한경닷컴 객원기자 newsinfo@hankyung.com

In [272]:
df_test = self.filter_keyword('삼산동')

In [273]:
for index, row in df_test.iterrows():
    for column, value in row.items():
        print(value, end=' ')
    print()

광주 광주광역시 남구 삼산동 None nan
전북 전북특별자치도 정읍시 삼산동 None nan
인천 인천광역시 부평구 삼산동 None nan
부산 부산광역시 남구 삼산동 None nan
경북 경상북도 안동시 삼산동 None nan
대구 대구광역시 남구 삼산동 None nan
울산 울산광역시 남구 삼산동 None nan

In [274]:
df_test

      lv0      lv1  lv2  lv3   lv4  lv5
3128   광주    광주광역시   남구  삼산동  None  NaN
8959   전북  전북특별자치도  정읍시  삼산동  None  NaN
11316  인천    인천광역시  부평구  삼산동  None  NaN
15910  부산    부산광역시   남구  삼산동  None  NaN
17080  경북     경상북도  안동시  삼산동  None  NaN
23342  대구    대구광역시   남구  삼산동  None  NaN
24009  울산    울산광역시   남구  삼산동  None  NaN

In [302]:
self = CheckAddressLevels(df_address=df_addr, text=text)
self.process()

ic| upper_levels: '충남,충청남도,천안시 서북구,입장면'
ic| upper_levels: '광주,광주광역시'
ic| upper_levels: '광주,광주광역시,남구'
ic| upper_levels: ''

In [303]:
df_brief = self.df_brief.copy()
df_brief

,original_name,found_name,level,count,upper
0,유리,유리,4,1,"입장면,감천면,경기도,청주시 청원구,고령군,경북,충청북도,예천군,창녕군,경상북도,충..."
1,남구,남구,2,1,"부산,대구,광주광역시,광주,대구광역시,부산광역시,울산광역시,울산"
2,삼산동,삼산동,3,1,"부산,대구,경북,울산,광주광역시,광주,전북특별자치도,전북,남구,인천,대구광역시,경상..."
3,울산,울산,0,3,

In [304]:
self.address_set

{'남구', '삼산동', '울산', '유리'}

In [278]:
self.df_filtered[self.df_filtered['lv3'] == '삼산동']

,lv0,lv1,lv2,lv3,lv4,lv5,count,original_name,found_name,found_lv
3128,광주,광주광역시,남구,삼산동,None,NaN,2,삼산동,삼산동,3
8959,전북,전북특별자치도,정읍시,삼산동,None,NaN,1,삼산동,삼산동,3
11316,인천,인천광역시,부평구,삼산동,None,NaN,1,삼산동,삼산동,3
15910,부산,부산광역시,남구,삼산동,None,NaN,2,삼산동,삼산동,3
17080,경북,경상북도,안동시,삼산동,None,NaN,1,삼산동,삼산동,3
23342,대구,대구광역시,남구,삼산동,None,NaN,2,삼산동,삼산동,3
24009,울산,울산광역시,남구,삼산동,None,NaN,5,삼산동,삼산동,3

In [305]:
self.check_upper_level()

In [306]:
df_brief = self.df_brief.copy()
df_brief

  original_name found_name level count  upper
2           삼산동        삼산동     3     1  울산,남구
1            남구         남구     2     1     울산
3            울산         울산     0     3

#### test

In [307]:
index = 133
text_iter = iter(zip(df_text.index[index:], df_text.loc[index:, 'content']))

In [442]:
index, text = next(text_iter)
text = sa.clean_text(text)

In [443]:
self = CheckAddressLevels(df_address=df_addr, text=text)
result = self.process()
print(result)

충남 사리

In [444]:
df_brief = self.df_brief.copy()
df_brief

  original_name found_name level count upper
2            사리         사리     4     1    충남
1           서산시        서산시     2     1    충남
0            충남         충남     0     1
3            대전         대전     0     1

In [445]:
text_mark = text
for item in df_brief['found_name'].values:
    ic(item)
    text_mark = sa.re_sub(item, text_mark)

print(f"\nindex: {index}\n")
print(text_mark)

ic| item: '사리'
ic| item: '서산시'
ic| item: '충남'
ic| item: '대전'

index: 133

엄태용 / 사진 = 한화이글스 제공
10대 여고생에게 수면제를 먹인 뒤 성폭행한 혐의로 구속 기소된 전 프로야구 한화이글스 선수 엄태용(25)이 항소심 후 형량이 오히려 늘어났다.🔺대전🔻고법 제1형사부(부장 이준명)는 14일 아동·청소년의 성보호에 관한 법률위반 혐의로 기소된 엄태용의 항소심에서 징역 3년6개월의 원심을 파기, 징역 4년6개월을 선고했다.여기에 더해 40시간의 성폭력 방지 강의 수강과 아동·청소년 관련기관 등에 5년간의 취업 제한을 명령했다.엄씨는 지난해 6월 SNS로 피해자인 여고생 A씨를 알게 된 후 🔺충남🔻 🔺서산시🔻 자신의 자택에서 성폭행한 혐의로 기소돼 1심에서 징역 3년6개월을 선고 받았다. 1심 재판부의 판결에 검찰은 "양형이 가벼워 부당" 엄씨는 "형량이 무겁다"고 각각 항소했으나 재판부는 검찰의 항소 이유만 받아줬다. 재판부는 "성적 해소를 위해 🔺사리🔻분별 능력이 부족한 청소년을 계획적으로 수면제를 먹이고 항거불능 상태에서 성폭행한 죄질이 불량하다"고 판시했다. 이어 "잘못을 반성하지 않고 변명으로 일관하며 피해자와 그 가족의 정신적 고통이 큰 상태지만 범죄처벌 전력이 없는 점 등을 종합적으로 고려했다"고 양형 이유를 밝혔다. 한편 엄태용은 지난 2016년 9월에도 자신의 여자친구 집에서 "말을 듣지 않았다"란 이유로 막대기로 여자친구의 엉덩이를 수차례 때려 벌금 300만원 형에 선고를 받기도 했다.장지민 한경닷컴 기자 newsinfo@hankyung.com

- 133
    - '충남 서산시' 인데, '충남 사리' ... '사리' 분별

# end