## Retrieve with RA

### import

In [3]:
import pandas as pd 
import numpy as np
import math
import re

from icecream import ic
from tqdm import tqdm 

from utils.custom_utils import load_var, save_var
from utils.search_address import RetrieveAddress, get_lat_long

In [4]:
df_hk_json = load_var("df_hk_json")
df_where = df_hk_json['where']
df_addr = pd.read_csv('./address/address.csv')

### Problem in Retrieving

주소 데이터의 최소 유닛은 '동' 혹은 '리' 이다.  

부산, 김제시 같은 경우에는 최소 유닛이 아니므로,  
최소 유닛 중에 첫번째 열을 결과로 가져온다.  

어떻게 해야할까?

#### level 2 problem

#### level 1 problem

In [5]:
history = []
for item in df_where[:1]:
    if isinstance(item, str):
        ic(item)
        ra = RetrieveAddress(df_addr)
        res = ra.process(item)
        history.append(ra)
        ic(res)

ic| item: '부산의 한 모텔'
ic| res: ''

#### making a set of lv.1

In [6]:
df_addr['lv1'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 28199 entries, 0 to 28198
Series name: lv1
Non-Null Count  Dtype
--------------  -----
28199 non-null  object
dtypes: object(1)
memory usage: 220.4+ KB

In [9]:
df_addr['lv1'].index

RangeIndex(start=0, stop=28199, step=1)

In [12]:
lv1_set = set([])

# from tqdm import tqdm

# for index in tqdm(df_addr.index):
for index in df_addr.index:
    value = df_addr.iloc[index]['lv1']
    if value not in lv1_set:
        lv1_set.add(value)

In [ ]:
lv1_set_additional = [
    '강원', '경기', '경남', '경북', '광주',
    '대구', '대전', '부산', '서울', '울산',
    '인천', '전남', '전북', '제주', '충남',
    '충북'
]

lv1_set.update(lv1_set_additional)

In [17]:
lv1_set

{'강원',
 '강원특별자치도',
 '경기',
 '경기도',
 '경남',
 '경북',
 '경상남도',
 '경상북도',
 '광주',
 '광주광역시',
 '대구',
 '대구광역시',
 '대전',
 '대전광역시',
 '부산',
 '부산광역시',
 '서울',
 '서울특별시',
 '울산',
 '울산광역시',
 '인천',
 '인천광역시',
 '전남',
 '전라남도',
 '전북',
 '전북특별자치도',
 '제주',
 '제주특별자치도',
 '충남',
 '충북',
 '충청남도',
 '충청북도'}

#### level 1 problem - try 1

In [3]:
history = []
for item in df_where[:1]:
    if isinstance(item, str):
        ic(item)
        ra = RetrieveAddress(df_addr)
        res = ra.process(item)
        history.append(ra)
        ic(res)

ic| item: '부산의 한 모텔'
ic| res: '울산광역시'

#### fix - search_in_lv1()

In [4]:
ra = RetrieveAddress(df_addr)

In [5]:
ra.set_text('부산의 한 모텔')

In [6]:
def search_in_lv1():
    for item in ra.lv1_set:
        if re.search(
            r'\b{}'.format(item),
            ra.text,
            re.IGNORECASE):
            ic(item)

In [7]:
search_in_lv1()

ic| item: '부산'

#### level 1 problem - try 2

In [3]:
history = []
for item in df_where[:1]:
    if isinstance(item, str):
        ic(item)
        ra = RetrieveAddress(df_addr)
        res = ra.process(item)
        history.append(ra)
        ic(res)

ic| item: '부산의 한 모텔'
ic| res: '부산광역시'

희한하네?  
'부산'이 아니고, '부산광역시' ??  
왜지?

#### level 1 problem - try 3

In [3]:
history = []
for item in df_where[:1]:
    if isinstance(item, str):
        ic(item)
        ra = RetrieveAddress(df_addr)
        res = ra.process(item)
        history.append(ra)
        ic(res)

ic| item: '부산의 한 모텔'
ic| res: '부산'

`r'\b{}'.format('|'.join(item)),`  
이렇게 되어 있었네.

`r'\b{}'.format(item),`  
바꾸니까 정상.

### retrieve test

#### load dataframe - 'df'

In [4]:
df_news = load_var("df")

In [5]:
df_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   범죄 유형             291 non-null    object
 1   지역                107 non-null    object
 2   위도                35 non-null     float64
 3   경도                35 non-null     float64
 4   중복 여부             191 non-null    object
 5   퀄리티               47 non-null     object
 6   제외 여부             291 non-null    object
 7   기사제목              291 non-null    object
 8   사건 장소             289 non-null    object
 9   수사 기관             290 non-null    object
 10  본문                291 non-null    object
 11  URL               290 non-null    object
 12  일자                291 non-null    int64
 13  언론사               291 non-null    object
 14  기고자               283 non-null    object
 15  비고                68 non-null     object
 16  content           290 non-null    object
 17  content_filtered  291 non-null    object
 18  soup              1 non-null      object
 19  content_text      290 non-null    object
 20  soup_html         253 non-null    object
dtypes: float64(2), int64(1), object(18)
memory usage: 47.9+ KB

In [9]:
df_news.iloc[1]['content_text']

'\n\n\n술 취한 유부남 간부, 길거리서 여성에 \'강제 입맞춤\'…대만 발칵 - 아시아경제\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n본문 바로가기\n\n\n\nbar_progress\n\n\n\n\n\n\n\n\n아시아경제\n\n\n\n\n\n\n사이트맵메뉴 열기\n\n\n\n\n\n증권\n\n\n\n\n경제\n\n\n\n\n부동산\n\n\n\n\n산업·IT\n\n\n\n\n정치\n\n\n\n\n사회\n\n\n\n\n국제\n\n\n\n\n문화·라이프\n\n\n\n\n오피니언\n\n\n\n\n\n\n법률소식\n\n\n\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t실시간 뉴스\n\t\t\t\t\t\t\n\n\n\n\n\n김정호 민주당 김해을 후보 “검증된 뚝심·실력으로 김해 발전 이끌 것”\n\n\n\n\n수익률 7％·수수료 0원 … 근로복지공단 창원지사 “푸른씨앗, 퇴직연금 관리에 딱!”\n\n\n\n\n합천 공장서 ‘불’ … 야산으로 번져 1시간여 만에 진화\n\n\n\n\n김병규 진주을 무소속 후보 “우주항공청 업무 총괄한 진짜 일꾼”\n\n\n\n\n박완수 경남지사, 부산항 신항 ‘서컨’ 점검 “항만산업·항만 인재 선제 육성해야”\n\n\n\n\n경기 총선 후보 평균 재산 50억원↑…김복덕·안철수 등\n\n\n\n\n"애들이 마시면 어쩌려고" 수입산 커피서 발기부전 치료제 검출\n\n\n\n\n종로 7:1 최고…총선 평균 경쟁률은 2.7대 1\n\n\n\n\n中 서열 4·5위, 北김성남 만나…"평화·안정 외부환경 조성"\n\n\n\n\n英 중앙은행 총재, 올해 금리인하 기대 "비합리적이지 않아"\n\n\n\n\n\n\n\n\n국제\n\n술 취한 유부남 간부, 길거리서 여성에 \'강제 입맞춤\'…대만 발칵\n\n\n\n2024년 03월 22일(금)\n\n\n로그인\n\n\n회원가입\n\n\n\n\n\n\n소셜 아이콘영역\n\n\n\n님\n\t\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n아시아경제CORE 아이콘\n\t\t\t\t\t\t\t아시아경제CORE\n\t\t\t\t\t\t\n\n검색창 열기\n\n\n\n\n\n\n\n\n\n\n아시아경제\n\n\n\n\n\n검색창 열기\n\n\n\n\n닫기버튼\n\n\n\n\n\n\n\n\n로그인\n\n\n회원가입\n\n\n\n소셜 아이콘영역\n\n\n\n님\n\n\n\n\n뉴스\n\n\n\n\n\t\t\t\t\t\t\t\t\t증권\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t시황\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t특징주\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t종목·공시\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t파생·채권·외환\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t글로벌·원자재\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t기타\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t경제\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t금융\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t정책\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t일반\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t재테크\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t가상화폐\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t정치\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t대통령실\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t정당\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t정부부처\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t국방·외교\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t일반\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t부동산\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t정책\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t개발·분양\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t업계동향\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t일반\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t국제\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t국제증시\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t국제경제\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t국제일반\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t해외화제\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t산업·IT\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t기업·CEO\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t자동차\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\tIT·통합\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t유통\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t바이오헬스\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t중기·벤처\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t과학\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t사회\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t사건사고\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t교육\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t인물\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t일반\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t지역\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t호남\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t영남\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t충청\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t문화·라이프\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t공연·전시\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t책\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t여행·레저\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t문화일반\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t헬스·뷰티·패션\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t리빙푸드\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t오피니언\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t칼럼\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t만평\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t해외칼럼\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t블룸버그\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\tSCMP\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t골프\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t경기일반\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t라이프/기획\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t용품/장비\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t포토/영상\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t연예·스포츠\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t연예스타\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t스포츠\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t해외뉴스\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t포토뉴스\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t일반\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t연예스타\n\t\t\t\t\t\t\t\t\n\n\n\n\t\t\t\t\t\t\t\t\t스포츠\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n서브메뉴\n\n기획·이슈\n\n\n\n서브메뉴\n\n많이 본 뉴스\n\n\n\n서브메뉴\n\n프리미엄 콘텐츠\n\n\n\n\n\n서브메뉴\n\n경제법률 완전정복\n\n\n\n\n\n서브메뉴\n\n연재\n\n\n\n\n\n서브메뉴\n\n법률소식\n\n\n\n\n주요 기사를 음성으로 만나보세요!\n\n\n\n오디오페이퍼\n\n\t\t\t\t\t\t\t\t\t오디오페이퍼\n\t\t\t\t\t\t\t\t\n\n\n\n\nLIVE\n\n\t\t\t\t\t\t\t\t\t실시간뉴스\n\t\t\t\t\t\t\t\t\n\n\n\n\n\n\n\n\n아시아경제 서비스\n\n\n\n\n\n하루만보 하루천자 아이콘\n\n하루만보 하루천자\n\n\n\n\n\n디펜스클럽 아이콘\n\n\n양낙규의 디펜스클럽\n\t\t\t\t\t\t\t\t\t\t\t\n\n\n\n\n\n아시아경제CORE 아이콘\n\n아시아경제CORE\n\n\n\n\n\n드링킷 아이콘\n\n드링킷\n\n\n\n\n\n뉴스레터 아이콘\n\n뉴스레터\n\n\n\n\n아시아경제 교육센터\n\n\n\n\nE.아시아경제\n\n\n\n\n운세\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t검색영역\n\t\t\t\t\t\t\t\n\n뉴스검색\n\n\n\n삭제아이콘\n\n\n\n\n검색아이콘\n\n\n\n\n\n\n\n\n\n\n\nDim영역\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n국제\n\n\n\n\n\n\n증시\n\n\n\n\n경제\n\n\n\n\n일반\n\n\n\n\n화제\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n이전\n\n\n다음\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n화제\n\n증시\n경제\n일반\n화제\n \n\n\r\n\t\t\t\t\t\t\t술 취한 유부남 간부, 길거리서 여성에 \'강제 입맞춤\'…대만 발칵\t\t\t\t\t\t\n\n\n\n\n김은하기자 \n\n\n입력2024.02.09 12:50\n수정2024.02.09 18:36\n\n시계아이콘읽는 시간43초 \n\n\n뉴스듣기\n\n공유\n\n\n\n\n\n\n공유하기\n\n\n\n\n페이스북\n\n\n\n\n카카오톡\n\n\n\n\n트위터\n\n\n\n\n주소복사\n\n\n\n\n닫기\n\n\n\n\n스크랩\n글자크기\n\n\n\n\n글자크기 설정\n\n\n\n\n\n가나다라\r\n\t\t\t\t\t\t\t\n\n\n\n\n가나다라\r\n\t\t\t\t\t\t\t\n\n\n\n\n가나다라\r\n\t\t\t\t\t\t\t\n\n\n\n닫기\n\n\n\n\n인쇄\nRSS\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n대만 야당 "기혼자의 이런 행동은 심각한 스캔들" \n\n대만 정보기관인 국가안전국 고위 간부가 술에 취해 여성에게 강제로 입을 맞추는 영상이 공개돼 파장이 일고 있다.7일 대만 자유시보에 따르면 국가안전국 셰징화 소장이 술에 취한 채 한 젊은 여성을 강제로 입 맞추는 영상이 유출됐다.  \n\n \n\n\n\n대만 정보기관 \'국가안전국\' 고위 간부인 셰징화가 강제 키스하는 장면. [사진출처=대만 TVBS 뉴스 캡처]\nAD\n\n원본보기 아이콘\n\n\n영상 제보자는 셰징화가 밤 중에 길가에서 마스크를 쓴 20대(추정) 여성의 볼과 목을 잡고 강제로 키스하는 장면을 화했다. 셰징화는 쪼그려 앉아 여성에게 키스를 시도했다.영상 속 셰징화 소장은 술에 취한 모습으로 횡단보도 인근 길가에 쪼그려 앉아 있다. 그 앞에는 마스크를 착용한 한 여성이 있었고, 대화를 나누던 중 셰징화 소장은 돌연 여성에게 얼굴을 들이밀었다. 여성이 고개를 돌려 피하자 목을 잡고 여성의 볼에 입을 갖다 댔고, 이내 마스크를 내리고는 입을 맞췄다.영상은 급속도로 확산하면서 논란이 커졌고 셰징화가 소속된 특수임무센터 지휘관 차이밍옌이 즉각적인 조사를 시작했다. \n\n대만 중시신문망 등 현지 언론들은 "유부남인 셰징화가 강제로 입 맞춘 여성은 그의 아내가 아닌 사실이 밝혀져 국가안전국이 발칵 뒤집어졌다"고 일제히 전했다. \n\n\n\n대만 정보기관 ‘국가안전국’ 고위 간부가 술에 취해 젊은 여성에게 강제로 키스한 영상이 공개돼 논란이 일고 있다. [사진출처 = 영상 캡처]\n\n원본보기 아이콘\n\n\n야당 국민당 대변인 쉬차오신은 "기혼자인 정보당국 간부의 이런 행동은 심각한 스캔들"이라며 "피해 여성이 국가안전국 내 다른 부서 공직자인지 여부와 셰징화가 권력을 이용해 여자 공무원을 추행했다면 당국은 어떻게 처벌할 것인지 밝히라"고 지적했다.앞서 셰징화 처신이 논란을 일으킨 건 이번이 처음은 아니다. 2020년 소장으로 진급되기 전 체력 테스트에서 탈락했음에도 결과서를 조작한 사실이 최근 드러났다. 또 그 해 3km 달리기에서 시간 내 완주에 실패했다. 그러자 대체 종목인 5km 걷기를 선택했는데 합격선인 45분 이내 완주에 실패하자 44분 48초로 결과를 조작했다. 그의 실제 완주 시간은 47분 23초였다. \n김은하 기자 galaxy656574@asiae.co.kr\n\n\nAD\n\n\n\n\n\n\n\n\n\n\n\n꼭 봐야할 주요뉴스\n\n\n"밥 대신 개 사료 먹으면서 연봉 1억 받아요" [뉴 ...\n마스크영역\n\n\n"애들이 마시면 어쩌려고" 수입산 커피서 발기부전 치료제 검출\n들판 뒤지다 17돈 금덩이 발견…7000만원 벌었다\n"결혼약속한 남친, 다른 여자와 식 올린 다음날 헤어지자네요"\n\'18개월 군백기\'가 무색, 톱스타로 발돋움 …군대서 무슨일이?\n\n\n\n\n\n\n<ⓒ투자가를 위한 경제콘텐츠 플랫폼, 아시아경제(www.asiae.co.kr) 무단전재 배포금지> \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n함께 본 뉴스\n새로보기 \n\n\n"의료시스템 박살내자…아비규환될 것" 선넘은 의사글, 정부 수...\n\n\n\n새벽녘 꽃다발 가져간 할아버지, 3시간 뒤 반전행동 \'뭉클\'\n\n\n\n"여자 서른에 7천 모으면 결혼 가능한가요?"…누리꾼 반응을 보...\n\n\n\n식당 밖 우산들고 쪼그려 앉은 여성…"거기서 왜 볼일을"\n\n\n\n또래 죽이고 암매장, 돈까지 빼간 중학생들…중국 전역 공분\n\n\n\n\n\n노인보다 덜 행복한 청년들…"SNS 세상과 현실 너무 달라서"\n\n\n\n\'돼지털 판명\' 떡갈비 이물질 2년째 갈등…구매자 "블랙컨슈머 ...\n\n\n\n"김혜자도 놀라겠다" 부천에 있다는 8천원 백반 도시락\n\n\n\n"퇴사한 여직원이 사무실서 수다떨고 가요…아이도 데리고"\n\n\n\n"소아과 오픈런? 좀 멀거나 인테리어 떨어지는 곳 가면 돼"\n\n\n\n\n\nMS, 챗봇 \'코파일럿\' 버튼 키보드에 탑재윈도 이후 30년만에 변경\n\n\n\n개혁신당 류호정, "3지대 정치 실패" 후보 등록 포기\n\n\n\n임종윤 “북경한미 매출 100억→4000억 성공 경험…순익 1조·저평가 극복 자신”\n\n\n\n美 "대중 수출통제, 반도체 장비 외에 서비스·부품까지 확대"\n\n\n\n가지치기 나선 中알리바바…빌리빌리·샤오펑 지분도 매각\n\n\n\n\n\n\'新사업\' 속도내는 롯데지주…이자 부담은 \'눈덩이\'\n\n\n\n지난해 호실적에도 올해 장담 못하는 시멘트 업계\n\n\n\n[시시비비]패권전쟁 미·중에 갇힌 韓 반도체\n\n\n\n[디펜스칼럼]누구를 위한 방산전시회인가\n\n\n\n[초동시각]야구, 800만 관중보다 중요한것\n\n\n\n\n\n\n\n\n\n\n\n\n\n실시간 인기정보AD\n\n\n\n\n\n이슈 PICK\n\n\n\n\n\n\n\n\n#국내이슈\n\n\n\n\n\n\n\n#해외이슈\n\n\n\n\n\n\n\n#포토PICK\n\n\n\n\n\n\n\n#CAR라이프\n\n\n\n\n\n\n\n#뉴스속OO\n\n\n\n\n\n\n\n\n\n\n간격처리를 위한 class\n\n\n\n\n\n\n\n오늘의 추천 컨텐츠AD\n\n\n\n\n\n\n\n\n실시간 랭킹이슈AD\n\n\n\n\n\n\n많이 본 뉴스\n\n가장 많이 읽힌 뉴스를 제공합니다. 집계 기준에 따라 최대 3일 전 기사까지 제공될 수 있습니다.\n\n\n\n\n\n종합\n국제\n\n\n\n\n\n\n\n1"의료시스템 박살내자…아비규환될 것" 선넘은 의사글, 정\n\n\n\n2새벽녘 꽃다발 가져간 할아버지, 3시간 뒤 반전행동 \'뭉클\'\n\n\n\n3"\'엄마폭행\' 지켜본 아이, 매일 악몽꾸는데…법원, 가해자 \n\n\n\n4"여보 사랑해", "응 사랑해요"…60대 선장부부가 나눈 마지\n\n\n\n5식당 밖 우산들고 쪼그려 앉은 여성…"거기서 왜 볼일을"\n\n\n\n\n\n\n\n\n\n\n1\n\r\n\t\t\t\t\t\t\tMS, 챗봇 \'코파일럿\' 버튼 키보드에 탑재...윈도 이후 30년만에 변경\r\n\t\t\t\t\t\t\n\n\n\n\n2\n\r\n\t\t\t\t\t\t\t또래 죽이고 암매장, 돈까지 빼간 중학생들…중국 전역 공분\r\n\t\t\t\t\t\t\n\n\n\n\n3\n\r\n\t\t\t\t\t\t\t[뉴욕증시]FOMC 훈풍에 3대 지수 또 최고치…마이크론 14%대 급등\r\n\t\t\t\t\t\t\n\n\n\n\n4\n\r\n\t\t\t\t\t\t\t美 "대중 수출통제, 반도체 장비 외에 서비스·부품까지 확대"\r\n\t\t\t\t\t\t\n\n\n\n\n5\n\r\n\t\t\t\t\t\t\t\'쩐의 전쟁\'서 밀리는 트럼프…바이든 후원금의 3분의 1\r\n\t\t\t\t\t\t\n\n\n\n\n6\n\r\n\t\t\t\t\t\t\t독일 축구, 자국 브랜드 아디다스 버렸다…"재정난에 나이키 계약"\r\n\t\t\t\t\t\t\n\n\n\n\n7\n\r\n\t\t\t\t\t\t\t美 법무부도 애플 정조준…"반독점법 위반" 소송\r\n\t\t\t\t\t\t\n\n\n\n\n8\n\r\n\t\t\t\t\t\t\t"반독점법 위반" 美 법무부도 애플 정조준…애플 주가 4%대 급락(상보)\r\n\t\t\t\t\t\t\n\n\n\n\n9\n\r\n\t\t\t\t\t\t\t美, G7에 러 동결자산으로 우크라 지원 제안…"채권 500억달러 발행"\r\n\t\t\t\t\t\t\n\n\n\n\n10\n\r\n\t\t\t\t\t\t\t레딧, 美 상장첫날 48% 폭등…올트먼도 웃는다\r\n\t\t\t\t\t\t\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\ntop버튼\n\n\n\n\n\n\n\n\n한눈에 보는 뉴스&트렌드\n\n\n\n"업무 전화인 줄 알았는데"총선 전화·문자 폭탄에 시민 \'골머리\'\n"의료시스템 박살내자…아비규환될 것"…선 넘은 의사글, 정부 수사의뢰\n"숙박업 등록 안하면 잔금대출도 안나와" 거리 나선 생숙 분양자들\n연구용 드론 빌린 게 김영란법 위반?…경찰들 "모두 반납했다"\n독일 축구, 자국 브랜드 아디다스 버렸다…"재정난에 나이키 계약"\nMS, 챗봇 \'코파일럿\' 버튼 키보드에 탑재윈도 이후 30년만에 변경\n개혁신당 류호정, "3지대 정치 실패" 후보 등록 포기\n\n\n새로운 트렌드 보기\n\n\n\n을지로 신상 정복\n\n\n\n 피코크 냉동식품전격 리뷰\n\n\n\n또간집 ver.1\n\n\n\n\n\n책 펼쳤는데 왜 군침이 돌지 \n\n\n\n젤리 먹는 맛에 살어리랏다 \n\n\n\n연말→연초에 보기 좋은 영화 \n\n\n\n기획 시리즈❤\n구정에 도란도란 마시기 좋은 술 3\n점심 해장, 여기에서 했어요(feat. 충무로)\n"이 조합 가능?" 의외의 안주와 한 잔\n\n\n12월에는 ‘이거’ 꼭 먹자고요 \n‘이냉치냉’으로 즐기는 먹거리\n비건·단백질? 내가 사랑한 든든한 음료\n[인터뷰] 힙지로 숨은 독립서점 ‘보위옥’\n \n\n\n\n\n \n\n\n\n\n\n\n\n\n\n\n공지·사고\n\n\n\n페이스북 로그인, 회원가입 지원 종료 안내\n\n\n\n\n\n이벤트·행사\n\n\n\n\nE.아시아경제 바로가기\n\n\n\n\n\n\n\n\n\n\n\n\n로그인\n\n\n로그아웃\n\n\n앱설치\n\n\n\nPC버전\n\n\n사이트맵\n\n\n\n\n\n\n회사소개\n\n\n광고/제휴문의\n\n\n인재채용\n\n\n퍼스트클럽\n\n\n구독문의\n\n\n기사제보\n\n\n개인정보처리방침\n\n\n이용약관\n\n\n고충처리\n\n\n사이트맵\n\n\n매체정보\n\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t서울특별시 중구 충무로 29 아시아미디어타워 10-11F\n\t\t\t\t\t\t\t\t\n\n\t\t\t\t\t\t\t\t\t인터넷신문등록번호 : 서울 아00058\n\t\t\t\t\t\t\t\t\n\n\t\t\t\t\t\t\t\t\t등록일 : 2005.09.13\n\t\t\t\t\t\t\t\t\n\n\t\t\t\t\t\t\t\t\t발행·편집인 : 우병현\n\t\t\t\t\t\t\t\t\n\n\n대표 전화번호 : 02) 2200-2114\n통신판매업번호 : 2010-서울중구-0172\n사업자등록번호 : 101-86-15912\n\n\n\t\t\t\t\t\t\t\t아시아경제의 모든 콘텐츠(기사)는 저작권법의 보호를 받는 바, 무단 전재. 복사. 배포 등을 금합니다.\n\t\t\t\t\t\t\t\n\n\nⓒ 아시아경제 All rights reserved.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n'

#### inspection dataframe - df_hk_json

In [10]:
df_hk_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   범죄 유형   0 non-null      float64
 1   지역      3 non-null      object
 2   위도      0 non-null      float64
 3   경도      0 non-null      float64
 4   중복 여부   6 non-null      object
 5   퀄리티     0 non-null      float64
 6   제외 여부   0 non-null      float64
 7   기사제목    27 non-null     object
 8   사건 장소   27 non-null     object
 9   수사 기관   27 non-null     object
 10  본문      27 non-null     object
 11  URL     27 non-null     object
 12  일자      27 non-null     int64
 13  언론사     27 non-null     object
 14  기고자     27 non-null     object
 15  비고      0 non-null      float64
 16  text    27 non-null     object
 17  who     5 non-null      object
 18  when    5 non-null      object
 19  where   5 non-null      object
 20  what    5 non-null      object
 21  json    27 non-null     object
dtypes: float64(6), int64(1), object(15)
memory usage: 4.8+ KB

In [26]:
df_hk_json[df_hk_json['지역'].isna() == False]

,범죄 유형,지역,위도,경도,중복 여부,퀄리티,제외 여부,기사제목,사건 장소,수사 기관,...,일자,언론사,기고자,비고,text,who,when,where,what,json
1,NaN,전라북도 김제시 금산면,NaN,NaN,NaN,NaN,NaN,"""여자 혼자 있는 것 같아서"" 무단 침입해 주먹 휘두른 60대男",전북,"김제경찰서,경찰,김제시,한경닷컴 객원",...,20230413,한국경제,이보배,NaN,/사진=게티이미지뱅크\n일면식도 없는 여성의 집에 무단 침입해 주먹을 휘두른 60대...,60대 남성,오후 2시,김제시의 한 아파트,주먹을 휘두른 60대 여성의 집에 무단 침입해 주먹을 휘두른 혐의(주거침입 등),"{""who"": ""60대 남성"", ""when"": ""오후 2시"", ""where"": ""김..."
2,NaN,서울시 관악구,NaN,NaN,NaN,NaN,NaN,길거리서 웃통 벗고 여성에 달려든 문신男 경찰 오자 '난동',"서울,관악구","유튜브,서울경찰청",...,20230519,한국경제,김소연,NaN,/사진=유튜브 채널 '서울경찰' 영상 캡처\n출근길 '묻지마 폭행'을 저지른 남성이...,남성,7일 오전 2시 45분,서울 강남구 압구정동의 길가,헌팅을 거절한 여성에 격분한 남성이 폭행을 저지르는 모습,"{""who"": ""남성"", ""when"": ""3월 서울 관악구 골목길에서 난동을 부렸던..."
5,NaN,서울시 강남구 압구정동,NaN,NaN,NaN,NaN,NaN,"""같이 한잔해"" 끝없는 대쉬 평일 밤에도 '헌팅포차' 꽉 찼다 [여기잇슈]","라운지,펀치남,서울,압구정,강남역,강남,인근","압구정로데오,정부,한잔해,SBS,BJ,한창",...,20230524,한국경제,김세린,NaN,강남역의 '헌팅 포차' 거리 한 술집에 야외 테이블까지 사람들이 가득 차 있는 모습...,NaN,NaN,NaN,NaN,"{\n""who"": ""한 남성 2명과 여성 2명"",\n""when"": ""근일 밤"",\n..."

#### text from df_hk_json

In [7]:
texts = df_hk_json.iloc[:]['text']

In [28]:
texts[2]

'/사진=유튜브 채널 \'서울경찰\' 영상 캡처\n출근길 \'묻지마 폭행\'을 저지른 남성이 현행범으로 체포되는 모습이 공개됐다.\n\n18일 서울경찰청 공식 유튜브 채널에 \'출근길 묻지마 폭행범 검거 현장\'이라는 제목으로 지난 3월 서울 관악구 골목길에서 난동을 부렸던 남성의 모습이 담긴 영상이 게재됐다.\n\n이 남성은 상의를 벗어 문신이 그려진 몸으로 길을 걷던 한 여성을 향해 달려갔다. 갑자기 돌진하는 남성을 보며 놀란 여성이 횡단보도로 뛰어가며 도망쳤지만, 남성은 그 뒤를 쫓아갔다.\n\n다른 행인들이 남성을 말렸음에도 난동은 이어졌다. 신고받고 현장에 출동한 경찰은 폭행 및 공무집행방해 등 혐의로 현장에서 체포했다.\n/사진=유튜브 채널 \'서울경찰\' 영상 캡처\n경찰의 등장에도 남성은 침을 뱉고, 욕을 하는 등 폭력적인 행동을 이어갔다. 결국 경찰은 남성을 힘으로 제압해 압송했다.\n\n경찰에 따르면 이 남성과 여성은 일면식도 없는 사이였다. 경찰은 "마약사범으로 의심했으나 마약 성분은 검출되지 않았다"며 "관제센터와의 공조, 시민들의 도움으로 빠르게 찾아낸 덕에 2차 피해를 막을 수 있었다"고 전했다.\n\n김소연 한경닷컴 기자 sue123@hankyung.com'

#### RA processing

In [22]:
history = []
for item in tqdm(texts):
    if isinstance(item, str):
        # ic(item)
        ra = RetrieveAddress(df_addr)
        res = ra.process(item)
        history.append(ra)
        # ic(res)

  0%|                                                                                                                               | 0/27 [00:00<?, ?it/s]ic| res: '부산'
  4%|████▍                                                                                                                  | 1/27 [00:17<07:47, 17.99s/it]ic| res: '전북특별자치도 김제시'
  7%|████████▊                                                                                                              | 2/27 [00:23<04:26, 10.66s/it]ic| res: '전라남도 순천시 행동'
 11%|█████████████▏                                                                                                         | 3/27 [00:27<03:08,  7.83s/it]ic| res: '경상남도 양산시 상북면 거리'
 15%|█████████████████▋                                                                                                     | 4/27 [00:33<02:40,  6.99s/it]ic| res: '서울특별시 강남구 압구정동'
 19%|██████████████████████                                                                                                 | 5/27 [00:42<02:47,  7.60s/it]ic| res: '경상남도 양산시 상북면 거리'
 22%|██████████████████████████▍                                                                                            | 6/27 [00:53<03:03,  8.76s/it]ic| res: '서울특별시 강남구 압구정동'
 26%|██████████████████████████████▊                                                                                        | 7/27 [00:59<02:35,  7.76s/it]ic| res: '경기도 군포시'
 30%|███████████████████████████████████▎                                                                                   | 8/27 [01:05<02:17,  7.21s/it]ic| res: '경상남도 양산시 상북면 거리'
 33%|███████████████████████████████████████▋                                                                               | 9/27 [01:14<02:21,  7.88s/it]ic| res: '충청남도 금산군 복수면 목소리'
 37%|███████████████████████████████████████████▋                                                                          | 10/27 [01:19<01:56,  6.88s/it]ic| res: '부산광역시 부산진구 부전동'
 41%|████████████████████████████████████████████████                                                                      | 11/27 [01:30<02:10,  8.14s/it]ic| res: '부산광역시 부산진구'
 44%|████████████████████████████████████████████████████▍                                                                 | 12/27 [01:35<01:48,  7.26s/it]ic| res: '대전광역시 유성구 봉명동'
 48%|████████████████████████████████████████████████████████▊                                                             | 13/27 [01:44<01:49,  7.85s/it]ic| res: '충청남도 예산군 삽교읍 가리'
 52%|█████████████████████████████████████████████████████████████▏                                                        | 14/27 [01:48<01:25,  6.61s/it]ic| res: '충청북도 옥천군 청산면 지리'
 56%|█████████████████████████████████████████████████████████████████▌                                                    | 15/27 [01:51<01:07,  5.60s/it]ic| res: '서울특별시 금천구 독산동'
 59%|█████████████████████████████████████████████████████████████████████▉                                                | 16/27 [01:57<01:04,  5.84s/it]ic| res: '서울특별시 관악구 신림동'
 63%|██████████████████████████████████████████████████████████████████████████▎                                           | 17/27 [02:04<01:01,  6.17s/it]ic| res: '충청북도 옥천군 청산면 지리'
 67%|██████████████████████████████████████████████████████████████████████████████▋                                       | 18/27 [02:09<00:52,  5.80s/it]ic| res: '서울'
 70%|███████████████████████████████████████████████████████████████████████████████████                                   | 19/27 [02:16<00:48,  6.03s/it]ic| res: '경기'
 74%|███████████████████████████████████████████████████████████████████████████████████████▍                              | 20/27 [02:24<00:46,  6.62s/it]ic| res: '경상남도 창원시 마산합포구 구산면 심리'
 78%|███████████████████████████████████████████████████████████████████████████████████████████▊                          | 21/27 [02:30<00:38,  6.35s/it]ic| res: '서울'
 81%|████████████████████████████████████████████████████████████████████████████████████████████████▏                     | 22/27 [02:36<00:31,  6.29s/it]ic| res: '충청북도 제천시 청풍면 어리'
 85%|████████████████████████████████████████████████████████████████████████████████████████████████████▌                 | 23/27 [02:40<00:22,  5.74s/it]ic| res: '충청북도 제천시 청풍면 어리'
 89%|████████████████████████████████████████████████████████████████████████████████████████████████████████▉             | 24/27 [02:44<00:15,  5.20s/it]ic| res: '충청남도 서천군 서면'
 93%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████▎        | 25/27 [02:52<00:12,  6.09s/it]ic| res: '광주광역시 서구'
 96%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████▋    | 26/27 [02:59<00:06,  6.12s/it]ic| res: '부산'
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 27/27 [03:05<00:00,  6.88s/it]

기사 하나당 7초쯤 걸린다.  
RAG 안 쓰고 이렇게 하는 게 더 낫겠다.  
적어도 주소를 뽑아낼 때는.

#### save 'ra_history'

In [25]:
save_var(history, "ra_history")

In [6]:
ra_history = load_var("ra_history")

#### save address in 'ra_address' column

In [29]:
for idx, item in enumerate(ra_history):
    # ic(item.address)
    df_hk_json.loc[idx, 'ra_address'] = item.address

/var/folders/r0/w084nh2s0v3fstg3n70027500000gn/T/ipykernel_57912/3298260219.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '부산' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_hk_json.loc[idx, 'ra_address'] = item.address

In [44]:
save_var(df_hk_json, 'df_hk_json')

In [5]:
df_hk_json = load_var('df_hk_json')

#### inspection 'ra_address' column with 'text' column

In [6]:
index = 2
columns = ['text', 'ra_address']
ic(df_hk_json[columns].loc[index, 'ra_address'])
print(df_hk_json[columns].loc[index, 'text'].replace('\n\n', '\n'))

ic| df_hk_json[columns].loc[index, 'ra_address']: '전라남도 순천시 행동'

/사진=유튜브 채널 '서울경찰' 영상 캡처
출근길 '묻지마 폭행'을 저지른 남성이 현행범으로 체포되는 모습이 공개됐다.
18일 서울경찰청 공식 유튜브 채널에 '출근길 묻지마 폭행범 검거 현장'이라는 제목으로 지난 3월 서울 관악구 골목길에서 난동을 부렸던 남성의 모습이 담긴 영상이 게재됐다.
이 남성은 상의를 벗어 문신이 그려진 몸으로 길을 걷던 한 여성을 향해 달려갔다. 갑자기 돌진하는 남성을 보며 놀란 여성이 횡단보도로 뛰어가며 도망쳤지만, 남성은 그 뒤를 쫓아갔다.
다른 행인들이 남성을 말렸음에도 난동은 이어졌다. 신고받고 현장에 출동한 경찰은 폭행 및 공무집행방해 등 혐의로 현장에서 체포했다.
/사진=유튜브 채널 '서울경찰' 영상 캡처
경찰의 등장에도 남성은 침을 뱉고, 욕을 하는 등 폭력적인 행동을 이어갔다. 결국 경찰은 남성을 힘으로 제압해 압송했다.
경찰에 따르면 이 남성과 여성은 일면식도 없는 사이였다. 경찰은 "마약사범으로 의심했으나 마약 성분은 검출되지 않았다"며 "관제센터와의 공조, 시민들의 도움으로 빠르게 찾아낸 덕에 2차 피해를 막을 수 있었다"고 전했다.
김소연 한경닷컴 기자 sue123@hankyung.com

텍스트에 '행동' 이 있다고, '전라남도 순천시 행동' 이 나온다...  
쉽지 않다.

#### inspection index no.2 to fix

In [39]:
history[2].df_filtered

         lv1  lv2  lv3  lv4  lv5
11913   전라남도  순천시   행동  NaN  NaN
28150  서울특별시  관악구  봉천동  NaN  NaN
28151  서울특별시  관악구  신림동  NaN  NaN
28152  서울특별시  관악구  남현동  NaN  NaN

In [38]:
history[2].df_level

        lv1  lv2 lv3  lv4  lv5
11913  전라남도  순천시  행동  NaN  NaN

In [40]:
history[2].df_count

   index  lv1  lv2  lv3
0  11913    1    1    1

lv4 혹은 lv3 에서 확인된 주소일 때,  
그 윗 단계 위의 주소가 텍스트에 있는지 확인을 한다.

#### check RA

In [1]:
import pandas as pd 
import numpy as np
import math
import re

from icecream import ic
from tqdm import tqdm 

from utils.custom_utils import load_var, save_var
from utils.search_address import RetrieveAddress, get_lat_long

In [2]:
df_hk_json = load_var("df_hk_json")
df_where = df_hk_json['where']
df_addr = pd.read_csv('./address/address.csv')

In [3]:
texts = df_hk_json.iloc[:]['text']

In [4]:
ra = RetrieveAddress(df_addr)

#### check RA - fix: 'index' key error

In [8]:
res = ra.process(item)

KeyError: 'index'

In [9]:
ra.df_filtered

         lv1  lv2  lv3  lv4  lv5
11913   전라남도  순천시   행동  NaN  NaN
28150  서울특별시  관악구  봉천동  NaN  NaN
28151  서울특별시  관악구  신림동  NaN  NaN
28152  서울특별시  관악구  남현동  NaN  NaN

In [11]:
ra.df_level

        lv1  lv2 lv3  lv4  lv5
11913  전라남도  순천시  행동  NaN  NaN

In [10]:
ra.df_count

   index  lv1  lv2  lv3
0  11913    1    1    1

In [12]:
idxmax = ra.df_count.iloc[ra.df_count[f'lv{ra.level - 1}'].idxmax()]

In [13]:
idxmax

index    11913
lv1          1
lv2          1
lv3          1
Name: 0, dtype: int64

In [17]:
row = ra.df_address.iloc[idxmax['index']]
row

lv1    전라남도
lv2     순천시
lv3      행동
lv4     NaN
lv5     NaN
Name: 11913, dtype: object

#### check RA - modify

In [5]:
res = ra.process(texts[2])

In [6]:
ra.df_filtered

         lv1  lv2  lv3  lv4  lv5
11913   전라남도  순천시   행동  NaN  NaN
28150  서울특별시  관악구  봉천동  NaN  NaN
28151  서울특별시  관악구  신림동  NaN  NaN
28152  서울특별시  관악구  남현동  NaN  NaN

In [7]:
ra.df_level

        lv1  lv2 lv3  lv4  lv5
11913  전라남도  순천시  행동  NaN  NaN

In [8]:
ra.df_count

   index  lv1  lv2  lv3
0  11913    1    1    1

#### ask: fruit

In [8]:
fruit = {
    'fruit_name': ['apple', 'banana', 'cherry'],
    'stock': [10, 5, 7]
}
df_fruit = pd.DataFrame(fruit)

In [9]:
df_fruit

  fruit_name  stock
0      apple     10
1     banana      5
2     cherry      7

In [15]:
text = '2 apples, 2 bananas, 1 more apple'

In [16]:
df_mask = df_fruit.map(
    lambda x: bool(
        re.search(
            r'\b{}'.format(str(x)),
            text,
            re.IGNORECASE)))

In [17]:
df_filtered = df_fruit[df_mask.any(axis=1)]

In [18]:
df_filtered

  fruit_name  stock
0      apple     10
1     banana      5

In [ ]:
fruit = {
    'fruit_name': ['apple', 'banana', 'cherry'],
    'stock': [10, 5, 7]
}
df_fruit = pd.DataFrame(fruit)

text = '2 apples, 2 bananas, 1 more apple'
df_mask = df_fruit.map(
    lambda x: bool(
        re.search(
            r'\b{}'.format(str(x)),
            text,
            re.IGNORECASE)))
df_filtered = df_fruit[df_mask.any(axis=1)]

In [23]:
# Initialize a dictionary to store keyword counts
keyword_counts = {keyword: 0 for keyword in df_fruit['fruit_name']}

# Iterate over DataFrame rows and count occurrences
for index, row in df_fruit.iterrows():
    keyword = row['fruit_name']
    pattern = r'\b{}'.format(re.escape(keyword))
    count = len(re.findall(pattern, text, re.IGNORECASE))
    keyword_counts[keyword] += count

print(keyword_counts)

{'apple': 2, 'banana': 1, 'cherry': 0}

In [24]:
# Convert the dictionary to a DataFrame
df_keyword_counts = pd.DataFrame.from_dict(keyword_counts, orient='index', columns=['count'])
df_keyword_counts

        count
apple       2
banana      1
cherry      0

#### check RA - apply:

In [25]:
texts[2]

'/사진=유튜브 채널 \'서울경찰\' 영상 캡처\n출근길 \'묻지마 폭행\'을 저지른 남성이 현행범으로 체포되는 모습이 공개됐다.\n\n18일 서울경찰청 공식 유튜브 채널에 \'출근길 묻지마 폭행범 검거 현장\'이라는 제목으로 지난 3월 서울 관악구 골목길에서 난동을 부렸던 남성의 모습이 담긴 영상이 게재됐다.\n\n이 남성은 상의를 벗어 문신이 그려진 몸으로 길을 걷던 한 여성을 향해 달려갔다. 갑자기 돌진하는 남성을 보며 놀란 여성이 횡단보도로 뛰어가며 도망쳤지만, 남성은 그 뒤를 쫓아갔다.\n\n다른 행인들이 남성을 말렸음에도 난동은 이어졌다. 신고받고 현장에 출동한 경찰은 폭행 및 공무집행방해 등 혐의로 현장에서 체포했다.\n/사진=유튜브 채널 \'서울경찰\' 영상 캡처\n경찰의 등장에도 남성은 침을 뱉고, 욕을 하는 등 폭력적인 행동을 이어갔다. 결국 경찰은 남성을 힘으로 제압해 압송했다.\n\n경찰에 따르면 이 남성과 여성은 일면식도 없는 사이였다. 경찰은 "마약사범으로 의심했으나 마약 성분은 검출되지 않았다"며 "관제센터와의 공조, 시민들의 도움으로 빠르게 찾아낸 덕에 2차 피해를 막을 수 있었다"고 전했다.\n\n김소연 한경닷컴 기자 sue123@hankyung.com'

In [27]:
mask = df_addr.map(
    lambda x: bool(
        re.search(
            r'\b{}'.format(str(x)),
            texts[2],
            re.IGNORECASE)))
df_filtered = df_addr[mask.any(axis=1)]
df_level = df_addr[mask[f'lv3']]

In [28]:
df_filtered

         lv1  lv2  lv3  lv4  lv5
11913   전라남도  순천시   행동  NaN  NaN
28150  서울특별시  관악구  봉천동  NaN  NaN
28151  서울특별시  관악구  신림동  NaN  NaN
28152  서울특별시  관악구  남현동  NaN  NaN

In [37]:
addr_name_set = set([])

for index, row in df_filtered.iterrows():
    for value in row.values:
        if isinstance(value, str):
            if value not in addr_name_set:
                addr_name_set.add(value)

In [38]:
addr_name_set

{'관악구', '남현동', '봉천동', '서울특별시', '순천시', '신림동', '전라남도', '행동'}

In [41]:
keyword_counts = {keyword: 0 for keyword in addr_name_set}

for keyword in addr_name_set:
    pattern = r'\b{}'.format(re.escape(keyword))
    count = len(re.findall(pattern, texts[2], re.IGNORECASE))
    keyword_counts[keyword] += count

print(keyword_counts)

{'순천시': 0, '행동': 1, '신림동': 0, '전라남도': 0, '서울특별시': 0, '남현동': 0, '봉천동': 0, '관악구': 1}

'서울특별시' 이거 먼저 좀 해결을 해야겠다.

#### ask: replace contents in dataframe

In [42]:
food = {
    'item': ['apple', 'banana', 'cherry', 'onion', 'garlic', 'flour'],
    'stock': [10, 5, 7, 8, 12, 5]
}
df_food = pd.DataFrame(food)

# make 'code' column, 'fruit' for 'apple', 'banana', 'cherry' rows, 'vegetable' for 'onion', 'garlic', and 'grain' for 'flour'

In [43]:
# Define conditions and choices for the 'code' column
conditions = [
    df_food['item'].isin(['apple', 'banana', 'cherry']),
    df_food['item'].isin(['onion', 'garlic']),
    df_food['item'].isin(['flour'])
]
choices = ['fruit', 'vegetable', 'grain']

# Create the 'code' column based on conditions
df_food['code'] = np.select(conditions, choices, default='')

print(df_food)

     item  stock       code
0   apple     10      fruit
1  banana      5      fruit
2  cherry      7      fruit
3   onion      8  vegetable
4  garlic     12  vegetable
5   flour      5      grain

#### apply: df_address

In [44]:
df_addr.head(1)

    lv1      lv2  lv3  lv4  lv5
0  충청남도  천안시 동남구  대흥동  NaN  NaN

In [46]:
lv1_set = set([])

for index, row in df_addr.iterrows():
    value = row['lv1']
    if isinstance(value, str):
        if value not in lv1_set:
            lv1_set.add(value)

In [47]:
lv1_set

{'강원특별자치도',
 '경기도',
 '경상남도',
 '경상북도',
 '광주광역시',
 '대구광역시',
 '대전광역시',
 '부산광역시',
 '서울특별시',
 '울산광역시',
 '인천광역시',
 '전라남도',
 '전북특별자치도',
 '제주특별자치도',
 '충청남도',
 '충청북도'}

In [50]:
lv0_set = [
    '강원', '경기', '경남', '경북', '광주',
    '대구', '대전', '부산', '서울', '울산',
    '인천', '전남', '전북', '제주', '충남',
    '충북'
]

In [49]:
conditions = [df_addr['lv1'].isin([item]) for item in lv1_set]

In [51]:
df_addr['lv0'] = np.select(conditions, lv0_set, default='')

In [52]:
df_addr.head()

    lv1      lv2  lv3  lv4  lv5 lv0
0  충청남도  천안시 동남구  대흥동  NaN  NaN  인천
1  충청남도  천안시 동남구  성황동  NaN  NaN  인천
2  충청남도  천안시 동남구  문화동  NaN  NaN  인천
3  충청남도  천안시 동남구  사직동  NaN  NaN  인천
4  충청남도  천안시 동남구  영성동  NaN  NaN  인천

뭐야 왜 '충청남도'를 '인천'으로 값을 매겼지?

In [53]:
df_addr.tail()

         lv1  lv2  lv3  lv4  lv5 lv0
28194  서울특별시  강동구  둔촌동  NaN  NaN  경북
28195  서울특별시  강동구  암사동  NaN  NaN  경북
28196  서울특별시  강동구  성내동  NaN  NaN  경북
28197  서울특별시  강동구  천호동  NaN  NaN  경북
28198  서울특별시  강동구  강일동  NaN  NaN  경북

In [54]:
for item in zip(lv1_set, lv0_set):
    ic(item)

ic| item: ('제주특별자치도', '강원')
ic| item: ('전라남도', '경기')
ic| item: ('광주광역시', '경남')
ic| item: ('서울특별시', '경북')
ic| item: ('대구광역시', '광주')
ic| item: ('강원특별자치도', '대구')
ic| item: ('울산광역시', '대전')
ic| item: ('경기도', '부산')
ic| item: ('경상남도', '서울')
ic| item: ('충청북도', '울산')
ic| item: ('충청남도', '인천')
ic| item: ('부산광역시', '전남')
ic| item: ('대전광역시', '전북')
ic| item: ('전북특별자치도', '제주')
ic| item: ('경상북도', '충남')
ic| item: ('인천광역시', '충북')

In [55]:
sorted(lv1_set)

['강원특별자치도',
 '경기도',
 '경상남도',
 '경상북도',
 '광주광역시',
 '대구광역시',
 '대전광역시',
 '부산광역시',
 '서울특별시',
 '울산광역시',
 '인천광역시',
 '전라남도',
 '전북특별자치도',
 '제주특별자치도',
 '충청남도',
 '충청북도']

In [56]:
conditions = [df_addr['lv1'].isin([item]) for item in sorted(lv1_set)]

In [57]:
df_addr['lv0'] = np.select(conditions, lv0_set, default='')

In [58]:
df_addr.head()

    lv1      lv2  lv3  lv4  lv5 lv0
0  충청남도  천안시 동남구  대흥동  NaN  NaN  충남
1  충청남도  천안시 동남구  성황동  NaN  NaN  충남
2  충청남도  천안시 동남구  문화동  NaN  NaN  충남
3  충청남도  천안시 동남구  사직동  NaN  NaN  충남
4  충청남도  천안시 동남구  영성동  NaN  NaN  충남

In [59]:
df_addr.tail()

         lv1  lv2  lv3  lv4  lv5 lv0
28194  서울특별시  강동구  둔촌동  NaN  NaN  서울
28195  서울특별시  강동구  암사동  NaN  NaN  서울
28196  서울특별시  강동구  성내동  NaN  NaN  서울
28197  서울특별시  강동구  천호동  NaN  NaN  서울
28198  서울특별시  강동구  강일동  NaN  NaN  서울

In [60]:
# Extract the last column
last_column = df_addr.pop('lv0')

# Insert the last column at the beginning
df_addr.insert(0, 'lv0', last_column)

df_addr.head()

  lv0   lv1      lv2  lv3  lv4  lv5
0  충남  충청남도  천안시 동남구  대흥동  NaN  NaN
1  충남  충청남도  천안시 동남구  성황동  NaN  NaN
2  충남  충청남도  천안시 동남구  문화동  NaN  NaN
3  충남  충청남도  천안시 동남구  사직동  NaN  NaN
4  충남  충청남도  천안시 동남구  영성동  NaN  NaN

#### save to parquet

In [61]:
df_addr.to_parquet('./address/df_addr.parquet.gzip', compression='gzip')

In [62]:
df_addr_parquet = pd.read_parquet('./address/df_addr.parquet.gzip')

In [63]:
df_addr_parquet.head()

  lv0   lv1      lv2  lv3   lv4  lv5
0  충남  충청남도  천안시 동남구  대흥동  None  NaN
1  충남  충청남도  천안시 동남구  성황동  None  NaN
2  충남  충청남도  천안시 동남구  문화동  None  NaN
3  충남  충청남도  천안시 동남구  사직동  None  NaN
4  충남  충청남도  천안시 동남구  영성동  None  NaN

#### continue: check RA

In [64]:
mask = df_addr.map(
    lambda x: bool(
        re.search(
            r'\b{}'.format(str(x)),
            texts[2],
            re.IGNORECASE)))
df_filtered = df_addr[mask.any(axis=1)]
df_level = df_addr[mask[f'lv3']]

In [67]:
addr_name_set = set([])

for index, row in df_filtered.iterrows():
    for value in row.values:
        if isinstance(value, str):
            if value not in addr_name_set:
                addr_name_set.add(value)

In [ ]:
keyword_counts = {keyword: 0 for keyword in addr_name_set}

for keyword in addr_name_set:
    pattern = r'\b{}'.format(re.escape(keyword))
    count = len(re.findall(pattern, texts[2], re.IGNORECASE))
    keyword_counts[keyword] += count

In [69]:
print(keyword_counts)

{'아현동': 0, '죽림동': 0, '남영동': 0, '망원동': 0, '침산동': 0, '남산동3가': 0, '보수동1가': 0, '길동': 0, '남포동5가': 0, '방학동': 0, '의주로2가': 0, '상덕동': 0, '청진동': 0, '봉래동2가': 0, '이촌동': 0, '동광동1가': 0, '청담동': 0, '부사동': 0, '삼선동2가': 0, '마포동': 0, '인사동': 0, '운북동': 0, '공평동': 0, '남산동': 0, '금천구': 0, '광복동2가': 0, '태평로3가': 0, '목달동': 0, '고척동': 0, '성북구': 0, '중학동': 0, '산림동': 0, '동인동4가': 0, '향촌동': 0, '용강동': 0, '용답동': 0, '보광동': 0, '덕교동': 0, '동숭동': 0, '동소문동1가': 0, '신대방동': 0, '반포동': 0, '보문동7가': 0, '하월곡동': 0, '용문동': 0, '항동': 0, '종로3가': 0, '주교동': 0, '양평동': 0, '고덕동': 0, '성수동1가': 0, '용동': 0, '성남동': 0, '안암동3가': 0, '본동': 0, '홍익동': 0, '초동': 0, '무학동': 0, '금호동1가': 0, '남포동6가': 0, '가양동': 0, '학성동': 0, '염리동': 0, '관철동': 0, '안암동5가': 0, '당산동4가': 0, '당산동5가': 0, '남창동': 0, '이태원동': 0, '식만동': 0, '신영동': 0, '계동': 0, '대안동': 0, '독산동': 0, '신흥동2가': 0, '양평동2가': 0, '사정동': 0, '학산동': 0, '양재동': 0, '문배동': 0, '보문동1가': 0, '봉림동': 0, '토정동': 0, '풍납동': 0, '광장동': 0, '연남동': 0, '장관동': 0, '저동2가': 0, '묵정동': 0, '합정동': 0, '장교동': 0, '을지로6가': 0, '양평동4가': 0, '남북동': 0, '사간동': 0, '화전동': 0, '부평동3가': 0, '신정동': 0, '오류동': 0, '송월동2가': 0, '삼선동1가': 0, '화동': 0, '중랑구': 0, '을왕동': 0, '을지로7가': 0, '행당동': 0, '우이동': 0, '신문로2가': 0, '동소문동3가': 0, '서초구': 0, '문창동': 0, '교남동': 0, '송월동': 0, '신포동': 0, '송파동': 0, '달성동': 0, '방이동': 0, '성북동': 0, '대치동': 0, '중산동': 0, '수색동': 0, '사동': 0, '안암동4가': 0, '동광동2가': 0, '구랑동': 0, '만리동1가': 0, '강서구': 0, '연건동': 0, '석촌동': 0, '삼덕동2가': 0, '노원구': 0, '노량진동': 0, '대청동1가': 0, '항동5가': 0, '당주동': 0, '남대문로5가': 0, '한강로1가': 0, '묘동': 0, '답동': 0, '송학동1가': 0, '신촌동': 0, '화곡동': 0, '동작구': 0, '혜화동': 0, '관동3가': 0, '동문동': 0, '가리봉동': 0, '원지동': 0, '천호동': 0, '효제동': 0, '내자동': 0, '갈현동': 0, '산성동': 0, '가회동': 0, '신흥동3가': 0, '남대문로2가': 0, '운서동': 0, '동소문동7가': 0, '예관동': 0, '홍제동': 0, '쌍림동': 0, '남포동2가': 0, '홍은동': 0, '필동3가': 0, '북성동3가': 0, '마천동': 0, '남대문로1가': 0, '보문동3가': 0, '후암동': 0, '관악구': 1, '금호동3가': 0, '거여동': 0, '재동': 0, '가산동': 0, '서울특별시': 0, '도원동': 0, '남외동': 0, '용산동2가': 0, '현석동': 0, '시흥동': 0, '연지동': 0, '회현동2가': 0, '장현동': 0, '안국동': 0, '항동3가': 0, '신창동2가': 0, '신천동': 0, '을지로4가': 0, '무교동': 0, '해안동2가': 0, '양천구': 0, '청파동1가': 0, '문래동5가': 0, '양평동5가': 0, '도봉동': 0, '남산동1가': 0, '창동': 0, '창신동': 0, '수서동': 0, '율현동': 0, '서동': 0, '석교동': 0, '휘경동': 0, '창성동': 0, '시장북로': 0, '체부동': 0, '상월곡동': 0, '일원동': 0, '용산동3가': 0, '관동2가': 0, '한강로3가': 0, '미근동': 0, '영등포동8가': 0, '양화동': 0, '구의동': 0, '낙원동': 0, '봉익동': 0, '방산동': 0, '포정동': 0, '회기동': 0, '동일동': 0, '충무로5가': 0, '서성로1가': 0, '해안동4가': 0, '우면동': 0, '강북구': 0, '중림동': 0, '냉천동': 0, '호동': 0, '충정로2가': 0, '신수동': 0, '개화동': 0, '전남': 0, '동자동': 0, '장위동': 0, '북성동2가': 0, '녹산동': 0, '인현동2가': 0, '보문동2가': 0, '신사동': 0, '성산동': 0, '원서동': 0, '의주로1가': 0, '북성로1가': 0, '반구동': 0, '염창동': 0, '중앙동1가': 0, '동선동2가': 0, '동작동': 0, '무의동': 0, '논현동': 0, '성안동': 0, '동광동5가': 0, '평창동': 0, '신문로1가': 0, '묵동': 0, '영등포동5가': 0, '태평로1가': 0, '부평동2가': 0, '중앙동5가': 0, '장충동1가': 0, '안영동': 0, '옥수동': 0, '사일동': 0, '문정동': 0, '명동1가': 0, '공릉동': 0, '신생동': 0, '상암동': 0, '동인동2가': 0, '오쇠동': 0, '남포동4가': 0, '예장동': 0, '갈월동': 0, '서내동': 0, '필동2가': 0, '강동구': 0, '선화동': 0, '동교동': 0, '신월동': 0, '삼성동': 0, '서빙고동': 0, '대림동': 0, '봉래동1가': 0, '부암동': 0, '교북동': 0, '대창동1가': 0, '항동7가': 0, '을지로1가': 0, '노고산동': 0, '동소문동6가': 0, '도선동': 0, '유동': 0, '어남동': 0, '을지로2가': 0, '마곡동': 0, '문래동2가': 0, '서울': 4, '동선동3가': 0, '신계동': 0, '마포구': 0, '동선동': 0, '미음동': 0, '우정동': 0, '양평동1가': 0, '용산동4가': 0, '당산동3가': 0, '해안동1가': 0, '무수동': 0, '통인동': 0, '유곡동': 0, '잠원동': 0, '화양동': 0, '면목동': 0, '도렴동': 0, '충무로3가': 0, '광복동3가': 0, '동동': 0, '송현동': 0, '장충동2가': 0, '광진구': 0, '안암동2가': 0, '영등포구': 0, '양평동6가': 0, '남대문로4가': 0, '신창동4가': 0, '신창동1가': 0, '중곡동': 0, '보문동4가': 0, '하계동': 0, '상서동': 0, '삼선동4가': 0, '오장동': 0, '삼선동3가': 0, '영등포동2가': 0, '정릉동': 0, '종로2가': 0, '궁정동': 0, '자양동': 0, '용산동1가': 0, '영등포동': 0, '잠실동': 0, '동인동3가': 0, '종로6가': 0, '옥인동': 0, '석관동': 0, '완전동': 0, '삼청동': 0, '무악동': 0, '산천동': 0, '양평동3가': 0, '당산동': 0, '서문로2가': 0, '항동4가': 0, '충정로3가': 0, '도곡동': 0, '보수동3가': 0, '원효로3가': 0, '남학동': 0, '천연동': 0, '강남구': 0, '동선동1가': 0, '송학동2가': 0, '이문동': 0, '중앙동4가': 0, '남포동3가': 0, '항동2가': 0, '서계동': 0, '동선동4가': 0, '미아동': 0, '신도림동': 0, '신림동': 0, '상계동': 0, '월계동': 0, '동인동1가': 0, '창선동1가': 0, '복산동': 0, '구기동': 0, '영등포동1가': 0, '충무로4가': 0, '하중동': 0, '동성로1가': 0, '중앙동7가': 0, '용산동6가': 0, '을지로5가': 0, '해안동3가': 0, '중앙동6가': 0, '상도동': 0, '옥교동': 0, '삼덕동1가': 0, '동소문동4가': 0, '하서동': 0, '신창동3가': 0, '대신동': 0, '영등포동4가': 0, '당산동1가': 0, '주성동': 0, '옥천동': 0, '길음동': 0, '돈암동': 0, '진관동': 0, '죽동동': 0, '용산동5가': 0, '명일동': 0, '보문동5가': 0, '대청동3가': 0, '구로동': 0, '상수동': 0, '당인동': 0, '와룡동': 0, '눌차동': 0, '하왕십리동': 0, '동소문동2가': 0, '당산동6가': 0, '대청동2가': 0, '운남동': 0, '응암동': 0, '도봉구': 0, '평동': 0, '저동1가': 0, '구로구': 0, '궁동': 0, '신길동': 0, '천성동': 0, '통의동': 0, '인현동': 0, '원효로1가': 0, '소격동': 0, '북창동': 0, '북가좌동': 0, '장지동': 0, '종암동': 0, '소공동': 0, '사당동': 0, '송월동3가': 0, '수동': 0, '옥계동': 0, '북내동': 0, '동대문구': 0, '오곡동': 0, '광희동2가': 0, '관수동': 0, '청량리동': 0, '제기동': 0, '경동': 0, '문래동3가': 0, '외발산동': 0, '흥인동': 0, '내동': 0, '목동': 0, '명동2가': 0, '홍지동': 0, '원효로2가': 0, '대흥동': 0, '다운동': 0, '효창동': 0, '염곡동': 0, '인의동': 0, '봉천동': 0, '봉원동': 0, '불광동': 0, '관훈동': 0, '대사동': 0, '개포동': 0, '수하동': 0, '대저2동': 0, '성수동2가': 0, '방화동': 0, '한남동': 0, '구완동': 0, '북아현동': 0, '서교동': 0, '대조동': 0, '강일동': 0, '대창동2가': 0, '중앙동2가': 0, '생곡동': 0, '명륜1가': 0, '서초동': 0, '문화동': 0, '송월동1가': 0, '중촌동': 0, '동빙고동': 0, '순천시': 0, '암사동': 0, '남가좌동': 0, '장사동': 0, '삼덕동3가': 0, '만리동2가': 0, '신교동': 0, '신원동': 0, '문래동6가': 0, '군자동': 0, '동소문동5가': 0, '보수동2가': 0, '남현동': 0, '영천동': 0, '홍파동': 0, '신공덕동': 0, '서소문동': 0, '주자동': 0, '등촌동': 0, '대현동': 0, '방배동': 0, '종로5가': 0, '장안동': 0, '부평동1가': 0, '필동1가': 0, '용덕동': 0, '태평로2가': 0, '문래동1가': 0, '원남동': 0, '번동': 0, '녹번동': 0, '봉산동': 0, '대저1동': 0, '망우동': 0, '송파구': 0, '서야동': 0, '입정동': 0, '영등포동7가': 0, '서성로2가': 0, '이화동': 0, '대방동': 0, '명륜4가': 0, '신내동': 0, '서린동': 0, '전라남도': 0, '인현동1가': 0, '신호동': 0, '역촌동': 0, '연희동': 0, '권농동': 0, '명륜2가': 0, '내발산동': 0, '부평동4가': 0, '수표동': 0, '행촌동': 0, '충무로2가': 0, '청파동3가': 0, '태화동': 0, '회현동3가': 0, '남성로': 0, '답십리동': 0, '금호동4가': 0, '숭인동': 0, '중계동': 0, '세곡동': 0, '계산동1가': 0, '충정로1가': 0, '신당동': 0, '인교동': 0, '선린동': 0, '문래동4가': 0, '내곡동': 0, '중동': 0, '다동': 0, '송정동': 0, '개봉동': 0, '쌍문동': 0, '내수동': 0, '여의도동': 0, '삼선동5가': 0, '명지동': 0, '누상동': 0, '대청동4가': 0, '은평구': 0, '남대문로3가': 0, '능동': 0, '원효로4가': 0, '범방동': 0, '온수동': 0, '수송동': 0, '약사동': 0, '금호동2가': 0, '당산동2가': 0, '마장동': 0, '누하동': 0, '항동6가': 0, '수유동': 0, '필운동': 0, '신창동': 0, '남일동': 0, '현저동': 0, '상왕십리동': 0, '북정동': 0, '사직동': 0, '정동': 0, '천왕동': 0, '창천동': 0, '대항동': 0, '압구정동': 0, '남포동1가': 0, '종로4가': 0, '광복동1가': 0, '동성로3가': 0, '성내동': 0, '창전동': 0, '중앙동3가': 0, '정생동': 0, '유천동': 0, '예지동': 0, '신흥동1가': 0, '역삼동': 0, '율목동': 0, '증산동': 0, '익선동': 0, '삼전동': 0, '가락동': 0, '수창동': 0, '둔촌동': 0, '오금동': 0, '공항동': 0, '종로구': 0, '상일동': 0, '전농동': 0, '용산구': 0, '영등포동3가': 0, '동광동3가': 0, '행동': 1, '적선동': 0, '세종로': 0, '을지로3가': 0, '청파동2가': 0, '동산동': 0, '교동': 0, '남산동2가': 0, '신설동': 0, '과해동': 0, '흑석동': 0, '동선동5가': 0, '영주동': 0, '팔판동': 0, '공덕동': 0, '응봉동': 0, '보문동6가': 0, '서문로1가': 0, '북성로2가': 0, '자곡동': 0, '회현동1가': 0, '대봉동': 0, '견지동': 0, '강동동': 0, '동광동4가': 0, '계산동2가': 0, '중구': 0, '도림동': 0, '충신동': 0, '동성로2가': 0, '성북동1가': 0, '순화동': 0, '구산동': 0, '항동1가': 0, '금동': 0, '구수동': 0, '관동1가': 0, '성동구': 0, '덕산동': 0, '종로1가': 0, '전동': 0, '태평동': 0, '명륜3가': 0, '사근동': 0, '광희동1가': 0, '황학동': 0, '용두동': 0, '송학동3가': 0, '돈의동': 0, '상봉동': 0, '은행동': 0, '중화동': 0, '청암동': 0, '합동': 0, '영등포동6가': 0, '경운동': 0, '창선동2가': 0, '북성동1가': 0, '도화동': 0, '상도1동': 0, '한강로2가': 0, '지사동': 0, '훈정동': 0, '안암동1가': 0, '충무로1가': 0, '효자동': 0, '운니동': 0, '서대문구': 0, '삼각동': 0, '청운동': 0}

In [66]:
df_filtered

      lv0    lv1  lv2  lv3  lv4  lv5
11913  전남   전라남도  순천시   행동  NaN  NaN
27516  서울  서울특별시  종로구  청운동  NaN  NaN
27517  서울  서울특별시  종로구  신교동  NaN  NaN
27518  서울  서울특별시  종로구  궁정동  NaN  NaN
27519  서울  서울특별시  종로구  효자동  NaN  NaN
...    ..    ...  ...  ...  ...  ...
28194  서울  서울특별시  강동구  둔촌동  NaN  NaN
28195  서울  서울특별시  강동구  암사동  NaN  NaN
28196  서울  서울특별시  강동구  성내동  NaN  NaN
28197  서울  서울특별시  강동구  천호동  NaN  NaN
28198  서울  서울특별시  강동구  강일동  NaN  NaN

[684 rows x 6 columns]

In [71]:
df_keyword_counts = pd.DataFrame.from_dict(keyword_counts, orient='index', columns=['count'])

In [72]:
df_keyword_counts[df_keyword_counts['count'] > 0]

     count
관악구      1
서울       4
행동       1